<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<style>
h2 {
	text-align: center;
}
</style>
</head>
<div>
	<h2>000님의 채팅목록</h2>
</div>
<div style="cursor: pointer;" onclick="openChatRoom()">
	<div class="list" style="float: left;">
		<img src="/images/common/chat_sample1.png" alt="" width="80"
			height="80">
	</div>
	<div>
		<table>
			<tbody>
				<tr>
					<td style="font-size: 16px; font-weight: bold;">몬스테라 분양합니다.</td>
				</tr>
				<tr>
					<td style="font-size: 16px; font-weight: bold;">식물이좋다</td>
				</tr>
				<tr>
					<td>입양하고 싶은데요~</td>
				</tr>
				<tr>
					<td class="time">오후 4:10</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<hr>
<div style="cursor: pointer;" onclick="openChatRoom()">
	<div class="list" style="float: left;">
		<img src="/images/sample1.png" alt="" width="80" height="80">
	</div>
	<div>
		<table border="1" summary=""
			style="border: none; border-collapse: collapse;">
			<tbody>
				<tr>
					<td style="font-size: 16px; font-weight: bold;">몬스테라 분양합니다.</td>
				</tr>
				<tr>
					<td style="font-size: 16px; font-weight: bold;">초보식집사</td>
				</tr>
				<tr>
					<td>요녀석 아직 있나요?</td>
				</tr>
				<tr>
					<td class="time">오후 6:42</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<th:block layout:fragment="myscripts">
	<script src="/js/chat.js"></script>
</th:block>
</html>