<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<main layout:fragment="main">
	<div align="center">
		<h2 th:text="|${#authentication.name}님의 채팅목록|"></h2>
	</div>
	<hr />
	
	<th:block th:each="room: ${chatRoom}">
		<div class="col" style="cursor: pointer;" id="chatButton" th:attr="data-id=${room.sellId}">
			<div style="float: left;">
				<img class="rounded" style="object-fit: cover; width: 80px;"
					th:src="@{'data:image/png;base64,'+${image.get(room.sellId)}}" th:attr="data-id=${room.sellId}"/>
			</div>
			<input id="sellId" name="sellId" type="hidden" th:value="${map.get(room.roomId).sellId}" /> 
			<input id="sellerId" name="sellerId" type="hidden" th:value="${map.get(room.roomId).userId}" /> 
			<input id="userId" name="userId" type="hidden" th:value="${#authentication.name}" />
			<input id="roomId" name="roomId" type="hidden" th:value="${room.roomId}" />
			
			<table class="table table-borderless" style="padding-left: 10px;" th:attr="data-id=${room.sellId}">
				<tbody>
					<tr>
						<td th:text="${map.get(room.roomId).title}"
							style="font-size: 20px; font-weight: bold;" th:attr="data-id=${room.sellId}"></td>
					</tr>
					<tr>
						<td th:if="${room.otherId} == ${#authentication.name}" th:text="${room.myId}"
							style="font-size: 16px; font-weight: bold;" th:attr="data-id=${room.sellId}"></td>
						<td th:if="${room.myId} == ${#authentication.name}" th:text="${room.otherId}"
							style="font-size: 16px; font-weight: bold;" th:attr="data-id=${room.sellId}"></td>
					</tr>
					<tr>
						<td th:attr="data-id=${room.sellId}">입양하고 싶은데요~</td>
						<!-- 최근 메세지 -->
					</tr>
					<tr>
						<td class="time" th:attr="data-id=${room.sellId}">오후 4:10</td>
					</tr>
				</tbody>
			</table>
			<hr />
		</div>
	</th:block>
</main>
<th:block layout:fragment="myscripts">
	<script src="/js/chat/chatList.js"></script>
</th:block>
</html>