<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">

<main layout:fragment="main">
	<h2 th:text="|${#authentication.name}의 채팅목록|"></h2>

</main>
    <th:block layout:fragment="myscripts">
        <script src="/js/chat/chat.js"></script>
    </th:block>
</html>
    <!-- <div style="cursor: pointer;" onclick="openChatRoom()"> -->
            <!-- <table>
                <tbody>
                    <tr>
                        <td style="font-size: 16px; font-weight: bold;"></td>
                    </tr>
                    <tr>
                        <td style="font-size: 16px; font-weight: bold;"></td>
                    </tr>
                    <tr>
                        <td>입양하고 싶은데요~</td>
                    </tr>
                    <tr>
                        <td class="time">오후 4:10</td>
                    </tr>
                </tbody>
            </table> -->