<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<main layout:fragment="main">
	<div class="container">
		<hr>
		<div style="float: right;">
			<select class="form-select" id="select" name="select">
				<option value="판매중">판매중</option>
				<option value="거래중">거래중</option>
				<option value="판매완료">판매완료</option>
			</select>
		</div>
		<div class="list" style="float: left;">
			<img class="rounded" style="object-fit: cover; width: 80px;"
				th:src="@{'data:image/png;base64,'+${image}}" />
		</div>
		<div>
			<input id="sellId" type="hidden" th:value="${sell.sellId}"/>
			<input id="userId" type="hidden" th:value="${sell.userId}"/>
			<input id="otherId" type="hidden" th:value="${#authentication.name}"/>
			<table class="table table-borderless" style="padding-left: 10px;">
				<tbody>
					<tr>
						<td th:text="${sell.title}"
							style="font-size: 20px; font-weight: bold;"></td>
					</tr>
					<tr>
						<td th:text="${sell.userId}"
							style="font-size: 16px; font-weight: bold;"></td>
					</tr>
					<tr
						class="xans-record- modi-price modi-price-tr last-modi-price-tr">
						<td th:text="|${#numbers.formatInteger(sell.price, 0, 'COMMA')}원|"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div id="main-content" class="container">
			<div class="row">
				<div class="col-md-6">
<!-- 					<form class="form-inline">
						<div class="form-group">
							<label for="connect">WebSocket connection:</label>
							<button id="connect" class="btn btn-default" type="submit">Connect</button>
							<button id="disconnect" class="btn btn-default" type="submit"
								disabled="disabled">Disconnect</button>
						</div>
					</form> -->
				</div>
				<div class="col-md-6">
					<form class="form-inline">
						<div class="form-group">
							<label for="message">메세지 입력</label> <input type="text"
								id="message" class="form-control" placeholder="메세지 임력">
						</div>
						<button id="send" class="btn btn-default" type="submit">Send</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<table id="conversation" class="table table-striped">
						<tbody id="greetings">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</main>
<th:block layout:fragment="myscripts">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<!-- <script src="/js/chat/chat.js"></script> -->
	<script src="/js/chat/chatRoom.js"></script>
	<script src="/js/app.js"></script>
</th:block>
</html>
