<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<div th:fragment="header"> 
<!-- header -->
	<div class="container-fluid">
		<header class="my-2 p-5 text-center">
			<h1>내풀잎스</h1>
		</header>
		<nav class="navbar navbar-expand-lg bg-light">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="navbar-brand" href="#">플랜테리어</a>
						</li>
						<li class="nav-item"><a class="nav-link" href="#">분양</a></li>
						<li class="nav-item"><a class="nav-link" href="#">입양</a></li>
						<li class="nav-item"><a class="nav-link" href="#">스토어</a></li>
						<li class="nav-item"><a class="nav-link" href="#">커뮤니티</a></li>
						<li class="nav-item"><a class="nav-link" href="#">도움말</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!-- 인증된 사용자이면(로그인 상태이면) -->
	<nav>
		<div>
			<div>
				<ul>
					<!-- <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{}">채팅</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{}">장바구니</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{}">마이페이지</a>
                            </li>
                            <li class="nav-item">
                                 로그인한 username 표시 
                                <span sec:authentication="name"></span>
                                <a class="nav-link" th:href="@{}">로그아웃</a>
                            </li>
                       </th:block> -->

					<!-- 익명 사용자이면(로그인 하지 않은 상태이면) 
                        <th:block sec:authorize="isAnonymous()"> -->
					<li class="nav-item"><a class="nav-link" th:href="@{}">로그인</a>
					</li>
					<li class="nav-item"><a class="nav-link" th:href="@{  }">회원가입</a>
					</li>
					<!--  </th:block>
                        -->
				</ul>
			</div>
		</div>
	</nav>

    
</div>

</html>