<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mngr_base_layout}">

<main layout:fragment="mngrHome">
	<h1>주문 관리</h1>
	<div>
		<form action="/shape/mngr/user/list" method="get" id="searchForm">
			<div class="input-group mb-2">
				<span class="input-group-text">주문 날짜</span> 
				<input type="date" id="mt_date" name="mt_date" class="form-control" placeholder="날짜">
				<p>~</p>
				<input type="date" id="mt_date" name="mt_date" class="form-control" placeholder="날짜">
			</div>

			<div class="input-group mb-2">
				<span class="input-group-text">주문 상태</span> 
				<select class="form-select" name="searchOrderStatus">
					<option selected disabled>선택</option>
					<option value="주문 완료">주문 완료</option>
					<option value="입금 대기">입금 대기</option>
					<option value="상품 준비중">상품 준비중</option>
					<option value="배송중">배송중</option>
					<option value="배송 완료">배송 완료</option>
					<option value="취소 처리중">취소 처리중</option>
					<option value="취소 완료">취소 완료</option>
				</select>
			</div>

			<div class="input-group mb-2">
				<span class="input-group-text">회원 ID</span> <input type="text"
					class="form-control" name="searchUserId">
			</div>

			<div class="d-grid gap-2 d-md-flex justify-content-md-center">
				<button id="btnSearch" class="btn btn-outline-dark" type="button">검색</button>
				<button id="btnResetSearch" class="btn btn-outline-dark"
					type="button">초기화</button>
			</div>
		</form>
	</div>
	
	<div class="mt-5">
		<small>* 주문 번호 클릭 시 주문 상세 내역 페이지로 이동합니다.</small>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center bg-transparent" scope="col">주문 번호</th>
					<th class="text-center bg-transparent" scope="col">주문 회원 ID</th>
					<th class="text-center bg-transparent" scope="col">주문 날짜</th>
					<th class="text-center bg-transparent" scope="col">결제 금액</th>
					<th class="text-center bg-transparent" scope="col">결제 방법</th>
					<th class="text-center bg-transparent" scope="col">주문 상태</th>
					<th class="text-center bg-transparent" scope="col">변경</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="order: ${ totalOrders }" class="border-dark">
					<th scope="row" class="text-center bg-transparent">
						<a th:href="@{/mngr/order/detail(orderId=${ order.orderId })}"
							th:text="${ order.orderId }"
							class="link-dark link-underline-opacity-0">
						</a>	
					</th>
					<td class="text-center bg-transparent" th:text="${ order.userId }"></td>
					<td class="text-center bg-transparent"
						th:text="${ #temporals.format(order.orderDate, 'yy/MM/dd HH:mm:ss')}"></td>
					<td class="text-center bg-transparent"
						th:text="|${#numbers.formatInteger(order.price, 0, 'COMMA')}원|"></td>
					<th:block th:switch="${order.payment}">
						<td th:case="1" 
						class="text-center bg-transparent" th:text="|신용/체크카드|"></td>
						<td th:case="2" 
						class="text-center bg-transparent" th:text="무통장"></td>
					</th:block>
					<td class="col-2 text-center bg-transparent">
						<select class="text-center form-select form-select-sm"
							th:id="|status_${order.orderId}|" th:value="${order.status}">
							<option value="주문 완료" th:selected="${order.status == '주문 완료'}">주문 완료</option>
						    <option value="입금 대기" th:selected="${order.status == '입금 대기'}">입금 대기</option>
						    <option value="상품 준비중" th:selected="${order.status == '상품 준비중'}">상품 준비중</option>
						    <option value="배송중" th:selected="${order.status == '배송중'}">배송중</option>
						    <option value="배송 완료" th:selected="${order.status == '배송 완료'}">배송 완료</option>
						    <option value="취소 처리중" th:selected="${order.status == '취소 처리중'}">취소 처리중</option>
						    <option value="취소 완료" th:selected="${order.status == '취소 완료'}">취소 완료</option>
						</select>
					</td>
					<td class="text-center bg-transparent">
						<button type="button" class="btn btn-sm btn-outline-dark" 
							id="statudBtn" name="statusBtn" th:data-id="${order.orderId}">저장</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</main>

<th:block layout:fragment="myscripts">
	<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/order/mngrOrder.js"></script>
</th:block>

</html>