<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
	<main layout:fragment="main">
    
    <div class="text-center py-5">
    	<h3>주문이 완료되었습니다.</h3>
    	<br/>
    	<span>배송은 상품 준비 후 3일 이내에 시작됩니다.</span>
    	<br/>
    	<br/>
    	<span>무통장 입금의 경우 입금 확인 후에 배송이 시작됩니다.</span>
    	<br/>
    	<span>카카오뱅크 3333-01-222222 내풀잎스</span>
    	<br/>
    	<br/>
    	<span>감사합니다.</span>
    	<br/>
    	<br/>
    	<br/>
    	<button class="btn btn-outline-dark" th:href="@{/}">메인 화면으로 이동</button>
    </div>
    
    </main>
	
</html>