<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
	<main layout:fragment="main">
	
		<div>
			<div>
				<h2>장바구니 > 결제 페이지</h2>
			</div>	
			
		<form method="post" id="orderForm">
			
			<span class="" id="userId" name="userId" th:text="${#authentication.name}"></span>
			
			<table class="table table-hover">
				<thead>
					<tr>
						<th colspan="2">상품 정보</th>
						<th class="text-center">수량</th>
						<th class="text-center">가격</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cart: ${ carts }">
						<td class="col-1 text-center">
							<img class="rounded" style="width: 6rem; height: 6rem;" src="/images/common/store.jpg" />
						</td>
						<td style="vertical-align: middle;" class="col-5 text-center textvcenter">
							<span th:text="${ stores.get(cart.itemId).itemName }"></span>
						</td>
						<td style="vertical-align: middle;" class="col-3 text-center" 
							th:text="${ cart.cnt }">
						</td>
						<td style="vertical-align: middle;" class="col-3 text-center"
							th:text="|${#numbers.formatInteger(stores.get(cart.itemId).price * cart.cnt, 0, 'COMMA')}원|">
						</td>
					</tr>
				</tbody>
			</table>
			
			<th:block th:each="cart, i : ${ carts }">
				<!-- name="itemImg" id="itemImg"  -->
				<th:block th:if = "${i.index == 0}">
					<input class="d-none" name="itemName" id="itemName" th:value="${ stores.get(cart.itemId).itemName }" />
				</th:block>
			</th:block>
			
			<table class="table">
				<thead>
					<tr>
						<th>배송지</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<table class="table table-borderless">
								<tbody>
									<tr>
										<td>
											<div>
												<input type="radio" id="defaultaddr" name="address" /> 
												<label for="defaultaddr" >기본 배송지</label> 
												<input type="radio" id="newaddr" name="address" /> 
												<label for="newaddr">신규 입력</label>
											</div>
										</td>
									</tr>
									<tr>
										<td>
										 	<label class="form-label">이름</label> <!-- address.name , totalOrder.name -->
											<input class="name form-control" type="text" name="name" id="memberName" />
										</td>
									</tr>
									<tr>
										<td>
											<label class="form-label">우편번호</label>
											<div class="input-group">
												<input class="form-control" type="text" id="sample6_postcode" name="zipcode">
												<input class="btn btn-outline-dark" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label class="form-label">주소</label>
											<input class="form-control" type="text" id="sample6_address" name="addr" placeholder="주소">
											<div class="input-group mt-2" >
												<input class="form-control" type="text" id="sample6_detailAddress" name="addrdetail" placeholder="상세주소">
												<input class="form-control" type="text" id="sample6_extraAddress" placeholder="참고항목">	
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label class="form-lable">연락처</label>
											<input class="form-control" type="text" id="tel" name="tel" />
										</td>
									</tr>
									<tr>
										<td>
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="checkbox" value="N"/>
												<label class="form-check-label" for="checkbox">기본 배송지로 설정하기</label>
											</div>
										</td>
									</tr>
									<tr>
										<td>
											<label class="form-lable">배송 시 요청 사항</label>
											<input class="form-control"type="text" id="req" name="req" />
											<div class="form-text">
											  제주 및 도서 산간 지역의 배송은 추가 배송비가 발생할 수 있습니다.
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
			
			<table class="table">
				<thead>
					<tr>
						<th colspan="2">결제 정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<table class="table table-borderless">
								<tbody>
									<tr>
										<th class="col-4">상품 합계</th>
										<td class="col-8"><span th:text="|${#numbers.formatInteger(price, 0, 'COMMA')}원|"></span></td>
									</tr>
									<tr>
										<th>배송비</th>
										<td><span th:text="|${#numbers.formatInteger(3000, 0, 'COMMA')}원|"></span></td>
									</tr>
									<tr>
										<th>결제 금액</th>
										<td>
											<span th:text="|${#numbers.formatInteger(price+3000, 0, 'COMMA')}원|"></span>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>

			<input class="d-none" name="price" id="price" th:value="${price+3000}" />
			<input class="d-none" type="text" name="cnt" id="cnt" th:value= "${totalCnt}"/>
			<h5>결제 방식</h5>
			<div>
				<input type="radio" id="card" name="payment" value="1" /> 
				<label for="card" >신용 / 체크카드</label> 
				<input type="radio" id="withoutBank" name="payment" value="2" /> 
				<label for="withoutBank">무통장 입금</label>
			</div>
			<div id="withoutBankDiv" style="display:none;">
				<div>
					<span class="form-lable">입금자</span>
					<input class="form-control" type="text" />
					<span class="form-text">입금 계좌: 카카오뱅크 3333-10-2222222 내풀잎스</span>
				</div>
				<div class="mt-2">
					<span class="form-lable">환불 계좌</span>
					<div class="input-group">
						<input class="form-control" type="text" name="reAcc" placeholder="은행" />
						<input class="form-control" type="text" name="reAcc" placeholder="계좌 번호" />
					</div>
					<span class="form-text">계좌 명의가 입금자와 동일해야 환불 가능합니다.</span>
				</div>
				<div class="text-center">
					<button class="btn btn-outline-dark" type="submit" id="btnWithoutBank">결제하기</button>
				</div>
			</div>
		</form>
		<div class="text-center" id="cardDiv" style="display:none;">
			<button class="btn btn-outline-dark" id="btnWithCard" onclick="requestPay()">결제하기</button>
		</div>
	</div>
</main>

<th:block layout:fragment="myscripts">	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="/js/order/zipcode.js"></script>
	<script src="/js/order/order.js"></script>
	<script src="/js/order/payment.js"></script>
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
	<!-- <script src="https://cdn.iamport.kr/v1/iamport.js"></script> -->
	<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
</th:block>
	
</html>