<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<main layout:fragment="main">
	<div class="container my-4">
			<div class="mb-5 text-center">
		    	<h3>QnA</h3>
		    </div>
		    <div class="card my-2">
		    	<div class="card-body">
					<form id="qnaModifyForm">
						<!-- 사용자 문의 출력 -->
						<div class="my-2">
							<label class="form-label d-none" for="qid">번호</label> 
							<input class="form-control d-none" id="qid" th:value="${qna.qid}" readonly />
						</div>
						<!-- 제목 -->
							<div class="card-text d-none">
								<label class="form-label" for="title">제목</label>
		                        <input class="form-control" id="title" th:value="${qna.title}" readonly />
							</div>
							<h4 class="card-text" th:text="${qna.title}" ></h4>
							<hr />
							<!-- 내용 -->
							<br/>
							<div class="my-2">
								<div class="card-text">
									<label class="form-label d-none" for="content">내용</label>
		                        	<textarea class="form-control d-none" id="content" th:utext="${qna.content}" readonly></textarea>
									<div class="card-text" id="content" style="height: 10rem" th:utext="${qna.content}"></div>	
								</div>
							</div>
							<br />
							<!-- 작성자 -->
							<div class="card-text d-none">
								<label class="form-label" for="userId">작성자</label>
		                        <input class="form-control" id="userId" th:value="${qna.userId}" readonly />
							</div> 
							<br />
							<!-- 작성날짜 -->
							<hr />
							<div  class="my-2">
								<div class="card-text">
									<p class="card-text text-end small mb-3 me-3" id="answer_date" th:text="${#temporals.format(qna.createdDate, 'yyyy-MM-dd HH:mm' ) }"></p>
	                        		<label class="form-label d-none" for="createdTime">작성시간</label>
	                        		<input class="form-control d-none" id="createdTime"
	                       				th:value="${#temporals.format(qna.createdDate, 'yyyy-MM-dd HH:mm' ) }"readonly />
	                    		</div>
							</div>
						</form>	
					</div>			
				</div>
				<!-- 관리자 페이지 답변 -->
				<div class="card my-3" th:if="${not #strings.isEmpty(qna.an_title)}">
					<div class="card-body">
						<h4 class="card-text" th:text="${qna.an_title}" ></h4>
						<div class="card-text" id="content" style="height: 10rem"th:utext="${qna.an_content}"></div>
						
						<!-- 관리자가 답변한 답변 날짜 -->
						<hr />
						<p class="card-text text-end small mb-3 me-3" id="answer_date" th:text="${#temporals.format(qna.modifiedDate, 'yyyy-MM-dd HH:mm' ) }"></p>	
					</div>
				</div> 
			<div class="my-3" style="text-align: center;">
				<a class="btn btn-outline-dark" th:href="@{/info/qna}">목록</a>
				<a th:if="${#authentication.name== qna.userId}" class="btn btn-outline-dark" th:href="@{/info/qna/modify?qid={id} (id = ${qna.qid}) }">수정</a>
			</div>	
		</div> 
	</main>
</html>