<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
	<main layout:fragment="main">
		<div class="container my-4" th:if="${qna.secret == 1 && qna.user_id == #authentication.name}">
			<div class="card">
				<div class="card-header text-center">
			    	<h1>QNA 수정페이지</h1>
			    </div>
			    <div class="card-body my-2">
					<form id="qnaModifyForm" name="qnaModifyForm">
						<!-- 사용자 문의 출력 -->
						<div class="my-2">
							<label class="form-label d-none" for="qid">번호</label> 
							<input class="form-control d-none" id="qid"  name="qid" th:value="${qna.qid}" readonly />
						</div>
						<!-- 제목 -->
						<div class="card">
							<div class="card-body">
								<div class="card-text">
									<label class="form-label" for="title">제목</label>
		                        	<input class="form-control" id="title" name="title" th:value="${qna.title}" />
								</div>
							<!-- 내용 -->
							<br/>
								<div class="my-2">
									<div class="card-text">
										<label class="form-label" for="content">내용</label>
		                        		<textarea class="form-control" id="content" name="content" th:text="${qna.content}"></textarea>
									</div>
								</div>
							<br />
							<!-- 작성자 -->
								<div class="card-text d-none">
									<label class="form-label" for="user_id">작성자</label>
		                        	<input class="form-control" id="user_id" name="user_id" th:value="${qna.user_id}" readonly />
								</div>
								<br/>	
								<!-- 작성날짜 -->
							</div>
						</div>
						</form>
						<div class="my-3" style="text-align: right;">
							<!-- 수정버튼은 관리자가 확인중일시 수정 버튼 가능 c:if 써야함 -->
							<button class="btn btn-outline-success" id="btnUpdate" th:if="${#strings.isEmpty(qna.an_title)}">수정</button>
							<button class="btn btn-outline-success" id = "btnDelete">삭제</button>
						</div>
					</div>
					
					
				</div>
				<!-- 관리자 페이지 답변 -->
				<div class="card my-4" th:if="${not #strings.isEmpty(qna.an_title)}">
					<div class="card-body">
						<h4 class="card-text" th:text="${qna.an_title}" ></h4>
						<div class="card-text" id="content" style="height: 10rem"th:text="${qna.an_content}"></div>
						
						<hr />
						<p class="card-text text-end small mb-3 me-3" id="answer_date" th:text="${#temporals.format(qna.modifiedDate, 'yyyy-mm-dd HH:mm' ) }"></p>	
					</div>
				</div> 	
				<div class="my-3" style="text-align: center;"> 					
					<a class="btn btn-outline-success  col-2" th:href="@{/info/qna}">목록</a>		
				</div>
			</div>	
		<script src="/js/info/qna/qna_modify.js"></script>    
	</main>
</html>