<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<main layout:fragment="main">
	<div class="container">
		<div class="my-5 card">
			<div class="card-header text-center">
				<h1>QnA</h1>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">번호</th>
							<th scope="col">제목</th>
							<th scope="col">작성자</th>
							<th scope="col">작성일</th>
							<th scope= "col">비밀글</th>
							<th scope="col">진행상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="qna: ${qnas}">
						<td th:text="${qna.qid}" ></td>
							<td
								th:if="${qna.secret == 1 && qna.userId == #authentication.name}">
								<a th:href="@{/info/qna/detail?qid={id}(id=${qna.qid})}"
								th:text="${qna.title}"></a>
							</td>
							<td
								th:if="${qna.secret == 1 && qna.userId != #authentication.name}">
								 <a href="#" onclick="showSecretMessage(); return false;" th:text="${qna.title}"></a>
							</td>
							<td
								th:if="${qna.secret == 0}">
								<a th:href="@{/info/qna/detail?qid={id}(id=${qna.qid})}"
								th:text="${qna.title}"></a>
							</td>

							<td th:text="${qna.userId}"></td>
							<td th:text="${#temporals.format(qna.createdDate, 'yy-MM-dd HH:mm')}"></td>
							<td th:if="${qna.secret == 1}">🔒</td>
							<td th:if="${qna.secret == 0}">공개</td>
							<!-- 관리자 페이지에 확인 할 거임 -->
							<td th:if="${#strings.isEmpty(qna.an_title)}">확인중</td>
							<td th:if="${not #strings.isEmpty(qna.an_title)}">확인완료</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- 페이징처리 시작 -->
		<nav aria-label="...">
			<ul class="pagination pagination-sm justify-content-center">
				<li th:each="page : ${#numbers.sequence(startPage, endPage)}"
					class="page-item"><a th:if="${page == nowPage}"
					class="page-link active" th:text="${page}"></a> <a
					th:if="${page != nowPage}" th:href="@{/info/qna(page=${page - 1})}"
					class="page-link" th:text="${page}"></a></li>
			</ul>
		</nav>
		<!-- 페이징처리 끝 -->
		<div class="card-footer">
			<form method="get" th:action="@{/info/qna/search}">
				<div class="row">
					<div class="col-3">
						<select class="form-control" name="type">
							<option value="t">제목</option>
                            <option value="c">내용</option>
                            <option value="tc">제목 + 내용</option>
                            <option value="a">작성자</option>
						</select>
					</div>
					<div class="col-8">
                            <input name="keyword" class="form-control" type="text" placeholder="검색어 입력" required/>
                   </div>
                   <div class="col-1">
                        <input class="form-control btn btn-outline-primary" type="submit" value="검색"/>
                  </div>
				</div>
			</form>	
		</div>
		<div style="text-align: center;" class="my-4">
			<a class="btn btn-outline-success  col-2" th:href="@{/info/qna/create}">문의하기</a>
		</div>
	</div>
	<script src="/js/info/qna/qna_list.js"></script>
</main>
</html>