<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<main layout:fragment="main">
	<div class="mb-5 text-center">
		<h3>Q&A</h3>
	</div>
	<div style="text-align: right;" class="my-4">
		<a class="btn btn-outline-dark" th:href="@{/info/qna/create}">문의</a>
	</div>
	<div>
		<table class="table table-hover">
			<colgroup>
				<col width="1%">
				<col width="8%">
				<col width="1%">
				<col width="1%">
				<col width="1%">
			</colgroup>
			<thead class="text-center">
				<tr>
					<th scope="col">비밀글</th>
					<th scope="col">제목</th>
					<th scope="col">작성자</th>
					<th scope="col">작성일</th>					
					<th scope="col">진행상태</th>
				</tr>
			</thead>
			<tbody class="text-center">
				<tr th:each="qna: ${qnas}">
					<td th:if="${qna.secret == 1}">🔒</td>
					<td th:if="${qna.secret == 0}">🗝
					<td class="d-none" th:text="${qna.qid}" ></td>
					<td
						th:if="${qna.secret == 1 && qna.userId == #authentication.name}">
						<a th:href="@{/info/qna/detail?qid={id}(id=${qna.qid})}"
						class="text-decoration-none text-reset"
						th:text="${qna.title}"
						></a>
					</td>
					<td
						th:if="${qna.secret == 1 && qna.userId != #authentication.name}">
						<a href="#" onclick="showSecretMessage(); return false;" th:text="${qna.title}"
						class="text-decoration-none text-reset"></a>
					</td>
					<td
						th:if="${qna.secret == 0}">
						<a th:href="@{/info/qna/detail?qid={id}(id=${qna.qid})}" 
						class="text-decoration-none text-reset"
						th:text="${qna.title}"></a>
					</td>
					<td th:text="${qna.userId}"></td>
					<td th:text="${#temporals.format(qna.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
					
					<!-- 관리자 페이지에 확인 할 거임 -->
					<td th:if="${#strings.isEmpty(qna.an_title)}">확인중</td>
					<td th:if="${not #strings.isEmpty(qna.an_title)}">확인완료</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- 페이징처리 시작 -->	
	<nav aria-label="...">
	    <ul class="pagination pagination-sm justify-content-center">
	        <!--  이전 페이지 세트로 가는 화살표-->
	        <li th:if="${startPage > 1}" class="page-item">
	            <a th:href="@{/info/qna(page=${startPage - 2})}" class="page-link">&laquo;</a>
	        </li>
	       <!--  페이지 번호들 (최대 5개까지 표시)-->
	        <li th:each="page : ${#numbers.sequence(startPage, endPage)}"
	            class="page-item">
	            <a th:if="${page == nowPage}" class="page-link active" th:text="${page}" style="color: white; background-color: black; border-color: black;"></a>
	            <a th:if="${page != nowPage}" th:href="@{/info/qna(page=${page - 1})}" class="page-link" th:text="${page}" style="color: black;"></a>
	        </li>
	        <!-- 다음 페이지 세트로 가는 화살표-->
	        <li th:if="${endPage < qnas.totalPages}" class="page-item">
	            <a th:href="@{/info/qna(page=${endPage})}" class="page-link">&raquo;</a>
	        </li>
	    </ul>
	</nav>
		<!-- 페이징처리 끝 -->
		<!-- <div class="card-footer">
			<form method="get" th:action="@{/info/qna/search}">
				<div class="row">
					<div class="col-1">
						<select class="form-control" name="type">
							<option value="t">제목</option>
                            <option value="c">내용</option>
                            <option value="tc">제목 + 내용</option>
                            <option value="a">작성자</option>
						</select>
					</div>
					<div class="col-10">
                            <input name="keyword" class="form-control" type="text" placeholder="검색어 입력" required/>
                   </div>
                   <div class="col-1">
                        <input class="form-control btn btn-outline-dark" type="submit" value="검색"/>
                  </div>
				</div>
			</form>
		</div> -->
	
	<script src="/js/info/qna/qna_list.js"></script>
</main>
</html>