<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<main layout:fragment="main">
	<div class="container">
		<div class="my-5 card">
			<div class="card-header text-center">
				<h1>QnA</h1>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">번호</th>
							<th scope="col">제목</th>
							<th scope="col">작성자</th>
							<th scope="col">작성일</th>
							<th scope= "col">비밀글</th>
							<th scope="col">진행상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="qna :${qnas}">
							<td th:text="${qna.qid}"></td>
							<td
								th:if="${qna.secret == 1 && qna.userId == #authentication.name}">
								<a th:href="@{/info/qna/detail?qid={id}(id=${qna.qid})}"
								th:text="${qna.title}"></a>
							</td>
							<td
								th:if="${qna.secret == 1 && qna.userId != #authentication.name}">
								 <a href="#" onclick="showSecretMessage(); return false;" th:text="${qna.title}"></a>
							</td>
							<td
								th:if="${qna.secret == 0}">
								<a th:href="@{/info/qna/detail?qid={id}(id=${qna.qid})}"
								th:text="${qna.title}"></a>
							</td>

							<td th:text="${qna.userId}"></td>
							<td th:text="${#temporals.format(qna.createdDate, 'yy-MM-dd HH:mm')}"></td>
							<td th:if="${qna.secret == 1}">🔒</td>
							<td th:if="${qna.secret == 0}">공개</td>
							<!-- 관리자 페이지에 확인 할 거임 -->
							<td th:if="${#strings.isEmpty(qna.an_title)}">확인중</td>
							<td th:if="${not #strings.isEmpty(qna.an_title)}">확인완료</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div style="text-align: center;">
			<a class="btn btn-outline-success  col-3" th:href="@{/info/qna/create}">문의하기</a>
		</div>
	</div>
	<script src="/js/info/qna/qna_list.js"></script>
</main>
</html>