<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}"> 
<link rel="stylesheet" href="/css/community.css">
 
<main layout:fragment="main">
	<div class="text-center mb-5">
		<h3>글쓰기</h3>
	</div>
	
 	<form method="post">
		<div class="input-group mb-3">
			<label class="input-group-text" for="hrsHd">말머리</label>
			<select class="form-select" id="hrsHd" name="hrsHd">
				<option value="이게 뭔가요?" th:selected="${selectedOption == '이게 뭔가요?'}">이게 뭔가요?</option>
				<option value="꿀팁 대방출" th:selected="${selectedOption == '꿀팁 대방출'}">꿀팁 대방출</option>
				<option value="스토어 상품/입양 후기" th:selected="${selectedOption == '스토어 상품/입양 후기'}">스토어 상품/입양 후기</option>
				<option value="사담" th:selected="${selectedOption == '사담'}">사담</option>
			</select>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text">제목</span>
			<input type="text" class="form-control" id="title" 
				 name="title" placeholder="제목을 입력해주세요" maxlength="80" required autofocus/>
		  	 <span class="input-group-text" id="textLengthCheck">(0 / 80)</span>
		</div>
		<input id="userId" type="hidden" name="userId" th:value="${#authentication.name}" />
		<div class="my-2">
    		<textarea id="content" class="form-control mute" name="content" placeholder="내용을 입력해주세요" required></textarea>
		</div>
		<p class="text-end fs-6 mt-1 fw-lighter"><span>작성자: <span th:text="${#authentication.name}"></span></span></p>
		<div class="my-2 text-center">
			<a class="btn btn-secondary" th:href="@{/community}">취소</a>
			<input class="btn btn-outline-dark" type="submit" id="btnCreate" value="등록"/>
		</div>
	</form>
</main>
<th:block layout:fragment="myscripts">>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="/js/community/community.js"></script>
     <script src="/js/community/community-summernote.js"></script>
</th:block>
</html>	