<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/community.css}" rel="stylesheet" />
</th:block>
<link rel="stylesheet" href="/css/community.css">

<main layout:fragment="main">
	<div class="text-center mb-5">
		<h3>상세보기</h3>
	</div>
	<div class="card">
		<form id=communityModifyForm>
			<div class="">
				<input class="d-none" id="communityId" th:value="${post.communityId}" />
				<span th:text="'[' + ${post.hrsHd} + ']'"></span> <label th:text="${post.title}"></label>
				<br> 
				<span>작성자:</span>
				<span id="userId" th:text="${post.userId}"></span>
				
			</div>
			<hr>
			<div th:utext="${post.content}"></div>
			<hr>
			<p class="text-sm-end" th:text="${ #temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm')}"></p>
		</form>
	</div>

	<div class="row justify-content-center">
		<div class="col-auto">
			<!-- th:if="${ #authentication.name } == ${ post.userId }" -->
			<a class="btn  btn-outline-dark" 
				th:href="@{/community/modify?communityId={id} (id=${post.communityId}) }">수정</a>
		</div>
		<div class="col-auto">
			<a class="btn btn-outline-dark" th:href="@{/community}">목록</a>
		</div>
	</div>
	
	<div class="my-2 card">
		<div class="card-header">
			<span>댓글</span> <span id="communityCommentCount" th:text="${communityCommentCount}"></span>개
			<button class="btn" id="btnToggleCommunityComment">
				    <img id="toggleBtnIcon" src="/images/community/toggle2-off.svg" 
                                     alt="toggle-off" width="32"/>
			</button>
		</div>

		<div class="d-none" id="authName" th:text="${#authentication.name}"></div>
		<div class="card-body collapse" id="communityCommentToggleDiv">
			<div class="my-2 row">
				<div class="col-10">
					<textarea class="form-control" id="content"
						placeholder="댓글 내용을 입력하세요"></textarea>
				</div>
				<div class="col-2">
					<button class="form-control btn btn-outline-success"
						id="btnCommunityCommentCreate">등록</button>
				</div>
			</div>
			<div class="my-2 row" id="comments"></div>
		</div>
	</div>
</main>
<th:block layout:fragment="myscripts">>
     <script src="/js/community/communitycomment.js"></script>
</th:block>
</html>	