<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/community.css}" rel="stylesheet" />
</th:block>
<!-- <link rel="stylesheet" href="/css/community.css">
 -->
<main layout:fragment="main">
	<div class="text-center mb-5">
		<h3>수정하기</h3>
	</div>
	<div class="card">
		<form id="communityModifyForm">
		 	<div class="">
		 		<input type="hidden" name="communityId" th:value="${post.communityId}"/>
				<select name="hrsHd">
				    <option value="이게 뭔가요?" th:selected="${post.hrsHd == '이게 뭔가요?'}">이게 뭔가요?</option>
				    <option value="꿀팁 대방출" th:selected="${post.hrsHd == '꿀팁 대방출'}">꿀팁 대방출</option>
				    <option value="스토어 상품/입양 후기" th:selected="${post.hrsHd == '스토어 상품/입양 후기'}">스토어 상품/입양 후기</option>
				    <option value="사담" th:selected="${post.hrsHd == '사담'}">사담</option>
				</select>
				<input type="text" id="title" name="title" th:value="${post.title}"></input>
				<br>
				<span>작성자:</span>
				<span th:text="${post.userId}"></span>
				<input type="hidden" name="userId" th:value="${post.userId}"/>
			</div>
			<hr>
			<div>
				<textarea name="content" id="content" th:utext="${post.content}"></textarea>
			</div>
			<hr>
			<div class="text-end">
				<label th:text= "${ #temporals.format(post.modifiedDate, 'yyyy-MM-dd HH:mm' )}" ></label>
			</div>
		</form>	
	</div>
	
	<!-- 로그인 사용자와 포스트 작성자 동일  -->
<div class="row justify-content-center"> <!-- <div th:if="${ #authentication.name } == ${ post.userId }" -->
    <div class="col-auto">
        <a class="btn btn-secondary" id="btnDelete">삭제</a>
    </div>
    <div class="col-auto">
        <a class="btn btn-outline-dark" id="btnUpdate">수정 완료</a>
    </div>
</div>

</main>
 <!-- layout:decorate="~{layout/base_layout}"로 지정 -> myscripts로 저장한 fragment 위치에 아래 내용이 들어감. -->
<th:block layout:fragment="myscripts">>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/community/community.js"></script>
    <script src="/js/community/community-summernote.js"></script>
</th:block>
</html>