<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">

<link rel="stylesheet" href="/css/common.css">

<main layout:fragment="main">
	<!--  
        * 'th:text=' 설정시(타임리프 문법 사용시), 기존에 text값이 사라지고 지정된 값이 새로 들어감(대체함).
        * th:text 경고가 뜨는 이유: 표준 html이 가지고 있는 것이 아닌 타임리프라는 템플릿 엔진이 사용하는 문법
             ==> 해결을 위해서 xmlns 사용하기.
        -->
<!-- <input class="mainPic" type="image" th:src="@{/images/common/main.png}"> -->
	<div class="container2">
		<div class="container-fluid container py-5 planteriorImage">
			<div class="row my-3">
			<h2 class="col-10 mainH2">베스트 플랜테리어</h2>
			<div class="row row-cols-1 row-cols-md-2 g-4 mb-2">
				<input class="planterior" type="image" th:src="@{/images/common/planterior.png}">
			</div>
		</div>
		</div>
		<div class="container-fluid container py-5 containerList">
			<div class="row my-3">
				<h2 class="col-10 mainH2"></h2>
				<a class="col-1 mainMore" th:href="@{/planterior}">더보기></a>
				<!-- MD픽 플랜테리어 리스트 3개 출력 -->
			</div>
		</div>
		</div>
	<div class="container2">
		<div class="container-fluid container py-5 containerList">
			<div class="row my-3">
				<h2 class="col-10 mainH2">반려식물 입양하기</h2>
				<a class="col-1 mainMore" th:href="@{/buy/list}">더보기></a>
			</div>
			<div class="container bg-transparent border-dark">
				<div class="row row-cols-1 row-cols-md-2 g-4 mb-2">
					<div class="col" th:each="sell, limit : ${sells}"
						th:if="${limit.index} &lt; 4">
						<div class="thumbnail-div-buy container p-0">
							<a th:switch="${sell.sold}"
								th:href="@{/buy/detail(userId=${#authentication.name}, sellId=${sell.sellId}) }">
								<th:block th:case="1">
									<img class="thumbnail-onSale-buy rounded mb-1"
										th:src="@{'data:image/png;base64,'+${sellImages.get(sell.sellId)}}" />
									<span
										class="thumbnail-onSale-buy-label link-dark centered rounded">
										분양중</span>
								</th:block> <th:block th:case="2">
									<img class="thumbnail-onNego-buy rounded mb-1"
										th:src="@{'data:image/png;base64,'+${sellImages.get(sell.sellId)}}" />
									<span
										class="thumbnail-onNego-buy-label link-dark centered rounded">
										거래중</span>
								</th:block> <th:block th:case="3">
									<img class="thumbnail-soldout-buy rounded mb-1"
										th:src="@{'data:image/png;base64,'+${sellImages.get(sell.sellId)}}" />
									<span
										class="thumbnail-soldout-buy-label link-dark centered rounded">
										분양 종료</span>
								</th:block>
							</a>
						</div>
						<div class="text-truncate">
							<a
								th:href="@{/buy/detail(userId=${#authentication.name}, sellId=${sell.sellId})}"
								class="link-dark link-underline-opacity-0"> <span
								th:text="${ sell.title }" class="card-title text-truncate"></span>
							</a>
							<th:block th:switch="${sell.price == 0}">
								<div th:case=true>
									<i>무료 나눔</i>
								</div>
								<div th:case=false
									th:text="|${#numbers.formatInteger(sell.price, 0, 'COMMA')}원|"
									class=""></div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid container py-5 containerList">
			<div class="row my-3">
				<h2 class="col-10 mainH2">커뮤니티</h2>
				<a class="col-1 mainMore" th:href="@{/community}">더보기></a>
			</div>
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">[ 말머리 ]</th>
						<th scope="col">제목</th>
						<th scope="col">작성자</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="post : ${posts}">
						<td th:text="'[' + ${post.hrsHd} + ']'"></td>
						<td><a class="link-dark link-underline-opacity-0"
							th:href="@{/community/detail?id={id} (id = ${post.communityId})}"
							th:text="${post.title}"></a> <span
							th:text="'[' +${commentCountMap.get(post.communityId)}+ ']'"
							class="red-text"></span></td>
						<td th:text="${post.userId}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<input class="mainPic" type="image" th:src="@{/images/common/storeImage.png}">
	<div class="container-fluid container py-5">
		<div class="row my-3">
			<h2 class="col-11 mainH2">내풀잎스 스토어</h2>
			<a class="col-1 mainMore" th:href="@{/store/list}">더보기></a>
		</div>
		<div class="border-dark container">
			<div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
				<div class="col" th:each="store, limit : ${stores}"
					th:if="${limit.index} &lt; 4">

					<!-- sold값으로 switch문 -->
					<div th:switch="${store.sold}"
						class="thumbnail-div-store container p-0">
						<a
							th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}">
							<!-- 1, 품절일 경우 --> <th:block th:case="1">
								<img class="thumbnail-soldout-store rounded mb-1"
									th:src="@{'data:image/png;base64,'+${storeImages.get(store.itemId)}}" />
								<span class="thumbnail-soldout-store-label link-dark centered">
									<i>품절</i>
								</span>
							</th:block> <!-- 0, 판매중일 경우 --> <th:block th:case="0">
								<!-- 재고 0일 경우 -->
								<th:block th:if="${store.inven == 0}">
									<img class="thumbnail-soldout-store rounded mb-1"
										th:src="@{'data:image/png;base64,'+${storeImages.get(store.itemId)}}" />
									<span class="thumbnail-soldout-store-label link-dark centered">
										<i>일시 품절</i>
									</span>
								</th:block>
								<th:block th:unless="${store.inven == 0}">
									<img class="thumbnail-onsale-store rounded mb-1"
										th:src="@{'data:image/png;base64,'+${storeImages.get(store.itemId)}}" />
								</th:block>
							</th:block>
						</a>
					</div>
					<!-- 사진 div end -->

					<div class="text-truncate">
						<a
							th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}"
							class="link-dark link-underline-opacity-0"> <span
							th:text="${store.itemName}" class="card-title text-truncate"></span>
						</a>
						<p th:text="|${#numbers.formatInteger(store.price, 0, 'COMMA')}원|"></p>
					</div>
					<!-- 이름 가격 div end -->

				</div>
			</div>
		</div>
	</div>
	<div class="container2">
		<input class="mainBannerS1" type="image" th:src="@{/images/common/gardeningClass.png}">
	</div>
</main>

</html>