<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<main layout:fragment="main">
 
	<div class="container text-center">
		<div class="m-5">
			<h1>000님, 안녕하세요!</h1> <!-- '/mypage' -->
			<input class="d-none" id="userId" value="test" />
			<h4>
				<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/myinfo}">&raquo;내 정보 보기</a>
			</h4>
		</div>
		<div class="row mt-5">
			<div class="col"> <!-- 플랜테리어 -->
				<h5>플랜테리어</h5>
				<ul style="display:block; list-style: none; padding: 0">
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/planterior/my_posts}">내가 쓴 글</a>
					</li>
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/planterior/bookmark}">북마크</a>
					</li>
				</ul>
			</div>
			<div class="col"> <!-- 분양/입양 -->
				<h5>분양/입양</h5>
				<ul style="display:block; list-style: none; padding: 0">
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="|@{/mypage/sellbuy/wish_list?userId=}test|">관심 상품</a>
					</li>
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/sellbuy/sell_list}">분양 내역</a>
					</li>
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/sellbuy/buy_list}">입양 내역</a>
					</li>
				</ul>
			</div>
			<div class="col"> <!-- 스토어 -->
				<h5>스토어</h5>
				<ul style="display:block; list-style: none; padding: 0">
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/store/wish_list}">관심 상품</a>
					</li>
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/store/order_list}">구매 내역</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col"> <!-- 커뮤니티 -->
				<h5>커뮤니티</h5>
				<ul style="display:block; list-style: none; padding: 0">
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/community/my_posts}">내가 쓴 글</a>
					</li>
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/community/my_comments}">내가 쓴 댓글</a>
					</li>
				</ul>
			</div>
			<div class="col"> <!-- QnA -->
				<h5>QnA</h5>
				<ul style="display:block; list-style: none; padding: 0">
					<li>
						<a class="text-uppercase nav-link link-dark" th:href="@{/mypage/qna/qna_list}">문의 내역</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

    
</main>

</html>