<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>Spring Boot</title>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous" />
</head>
<body>
    <div class="container-fluid">
        <header class="my-2 p-5 text-bg-dark text-center">
            <h1>Myleaves</h1>
        </header>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">메인</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/post}"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/post/create}">새 포스트</a>
                        </li>
                        <!-- 
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">로그인</a>
                        </li>
                         -->
                         
                         <!-- 인증된 사용자이면(로그인 상태이면): Sping에서 설정된 기본 주소: th:href="@{/logout} , @{/login} -->
                         <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item">
                                <!-- 로그인한 username 표시 -->
                                <span sec:authentication="name"></span>
                                <a class="nav-link" th:href="@{/logout}">로그아웃</a>
                            </li>
                         </th:block>
                         
                         <!-- 익명 사용자이면(로그인하지 않은 상태이면) -->
                         <th:block sec:authorize="isAnonymous()">
                            <li class="nav-item">
                               <a class="nav-link" th:href="@{/login}">로그인</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{ /member/signup }">회원가입</a>
                            </li>
                         </th:block>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- main 컨텐트가 삽입될 위치 -->
        <!-- 다른 div로 대체 및 추가시 th:block를 사용함. == div -->
        <!-- main 컨텐트가 삽입될 위치: div만 존재. -->
        <th:block layout:fragment="main"></th:block>


       <div class="moveTopBtn">
		<img src="<%=request.getContextPath()%>/static/images/common/topBtn.png" class="topBtnImage"/>
		</div>
		<div class="moveBottomBtn">
		<img src="<%=request.getContextPath()%>/static/images/common/bottomBtn.png" class="bottomBtnImage"/>
		</div>
		</div>
		<footer class="py-3 mt-5">
			<div class="footer-content">
				<div class="link">
					<ul class="content_list">
						<li>
							<a href="https://github.com/ITWILL-SHAPE/Shape" target="_blank"
								class="text-dark">
								<i class="bi bi-github"></i>
							</a>
						</li>
						<li>
							<a href="https://www.itwill.co.kr/" target="_blank"
								class="text-dark">
								<i class="bi bi-gear-wide-connected"></i>
							</a>							
						</li>
					</ul>						
				</div>
				<p class="company">(주) 8월</p>
				<p class="company"><i class="bi bi-award"></i> 오정훈 선생님</p>
				<p class="creator"><i class="bi bi-people-fill"></i> 김세이 김지민 남지현 배선영 손창민 우수빈 정지언 하지윤</p>
			</div>
			<p class="text-center">© 2023 Company, Inc</p>
			
			
		</footer>


    </div>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
