<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/planterior.css}" rel="stylesheet" />
</th:block>
<main layout:fragment="main">

	<div class="container text-center">
		<div class="m-5">
			<h3>플랜테리어 북마크</h3>
		</div>
		<div class="m-2">
			<div th:if="${cardList.empty}">
	        	<p class="text-center">북마크한 플랜테리어가 없습니다.</p>
	    	</div>
			<div th:if="${not cardList.empty}" class="row row-cols-1 row-cols-md-4 g-4">
				<div class="col" th:each="list: ${cardList}">
					<input type="hidden" class="userId" name="userId" th:value="${#authentication.name}" /> 
					<input type="hidden" id="plantName" th:value="${list.plantName}" /> 
					<input type="hidden" id="planteriorId" th:value="${list.planteriorId}" />
					<div class="card">
						<img class="imgSize" th:src="@{'data:image/png;base64,'+${images.get(list.planteriorId)}}" />
						<div class="card-body row">
							<div class="col-9 text-start">
								<p class="planteriorButtonEle" th:text="${list.plantName}" />
							</div>
							<div class="col-3 text-end">
								<button class="imgButtonFill btn-outline-dark" th:value="${list.planteriorId}">
									<img th:src="@{/images/planterior/bookmarkFill.svg}" />
								</button>
							</div>
							<div>
								<p class="planteriorButtonEleEnglishName text-start"
									th:text="'(' + ${list.plantNameEnglish} +')'" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 페이징 -->
	<th:block th:if="${totalPage>=1}">
		<div class="pt-5">
			<nav id="paging-block">
				<ul class="pagination justify-content-md-center">
					<li class="page-item">
						<a class="page-link" th:href="@{/mypage/planterior/bookmark(userId=${#authentication.name}, page=${0})}"> &laquo; </a>
					</li>
					<li th:each="page : ${#numbers.sequence(startPage, endPage)}"
						class="paging-item page-item"
						th:classappend="${page == nowPage} ? 'active' : ''">
							<a class="page-link link-dark"
								th:href="@{/mypage/planterior/bookmark(userId=${#authentication.name}, page=${page -1})}" 
								th:text="${page}"
								th:value="${page}">
							</a>
					</li>
					<li class="page-item">
						<a class="page-link"
						th:href="@{/mypage/planterior/bookmark(userId=${#authentication.name}, page=${totalPage})}"> &raquo; </a>
					</li>
				</ul>
			</nav>
		</div>
	</th:block>

</main>
<th:block layout:fragment="myscripts">
	<script src="/js/planterior/mypage.js"></script>
</th:block>
</html>