<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">

<main layout:fragment="main">

	<div class="container text-center">
		<div class="m-5">
			<h1> 플랜테리어 내가 쓴 글 </h1>
			<h4> <small> 카드 선택시 해당 글을 수정 및 삭제 가능합니다. </small> </h4>
		</div>
		<div class="m-2">
			<div class="row row-cols-1 row-cols-md-4 g-4">
				<div class="col" th:each="list: ${cardList}">
					<a th:href="@{/mypage/planterior/updateDelete(planteriorId=${list.planteriorId})}">
						<div class="card">
							<img th:src="@{/images/planterior/eucalyptus.png}" />
							<!-- <img th:text="${list.img}" />  -->
							<div class="card-body">
								<!-- 일렬로 맞추기 -->
								<p class="planteriorButtonEle"
									th:text="${list.plantName} + '(' + ${list.plantNameEnglish} +')'" />
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
		<!-- 페이징 -->
	<div>
	</div>

</main>
</html>