<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/planterior.css}" rel="stylesheet" />
</th:block>
<!-- 상세보기 한다면 영문이름과 카테고리 사이에 내용 추가하기 -->
<main layout:fragment="main">
	<div class="container">
		<div class=" createTitle">
			<h3 class="text-center">수정하기</h3>
		</div>
		<form class="form-box" id="updateForm" encType="multipart/form-data">
			<dl>
				<div>
					<input type="hidden" id="userId" name="userId"
						th:value="${#authentication.name}" /> 
					<input type="hidden"
						id="planteriorId" name="planteriorId" th:value="${cardList.planteriorId}" />
					<input type="hidden"
						id="pcid" name="pcid" th:value="${category.pcid}" />
				</div>
				<dt align="left" class="dt_class">
					수정 전 사진
				</dt>
				<dd align="left">
					<img name="" id="" style="height:10rem;" class="rounded" th:src="@{'data:image/png;base64,'+${image}}" />				
				</dd>
				
				<dt align="left" class="dt_class">
					플랜테리어 사진 변경<span class="highlight">* 1개만 선택 가능</span>
				</dt>
				<dd align="left">
					<div id="inputContainer">
						<div class="input-group mb-3">
							<input class="form-control file-input m-2" type="file"
								id="file" name="file" required>
							<div class="d-none preview"></div>
						</div>
					</div>
				</dd>
				<br>

				<dt align="left" class="dt_class">식물 이름(한글)</dt>
				<dd align="left">
					<div class="input-group">
						<input type="text" id="plantName" name="plantName" 
							class="form-control" th:value="${cardList.plantName}" required />
					</div>
				</dd>
				<br>
				<dt align="left" class="dt_class">식물 이름(영문)</dt>
				<dd align="left">
					<div class="input-group">
						<input type="text" id="plantNameEnglish" name="plantNameEnglish"
							class="form-control" th:value="${cardList.plantNameEnglish}"  required />
					</div>
				</dd>
				<br>
				<!-- 내용 부분: 상세페이지 구현 시 -->

				<dt align="left" class="dt_class">카테고리</dt>
				<dd align="left">
					<span class="highlight-left">* 2조건 다 선택하세요</span> <br>
					<div class="input-group">
						<ul class="filterLists list-unstyled">
							<li>
								<input type="image"  class="btn button-outline-bright" th:src="@{/images/planterior/reset.svg}" name="reset" id="filter_reset_btn" />
								<input type="button" class="filterBtn btn btn-outline-dark"  value="거실"  th:classappend="${category.stateContent == '거실' ? 'clicked' : ''}"/>
								<input type="button" class="filterBtn btn btn-outline-dark"  value="주방" th:classappend="${category.stateContent == '주방' ? 'clicked' : ''}" />
								<input type="button" class="filterBtn btn btn-outline-dark"  value="욕실"  th:classappend="${category.stateContent == '욕실' ? 'clicked' : ''}"/>
								<input type="button" class="filterBtn btn btn-outline-dark"  value="방" th:classappend="${category.stateContent == '방' ? 'clicked' : ''}"/>
								<input type="button" class="filterBtn btn btn-outline-dark"  value="베란다" th:classappend="${category.stateContent == '베란다' ? 'clicked' : ''}"/>
							</li>
						</ul>
						<input class="d-none" name="stateContent" id="stateContent" />
						<input class="d-none" name="conditionContent" id="conditionContent" />
						<ul class=" secondFilterSection list-unstyled" id="secondFilter" >
							<li class="filterSecond">
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="초보자용"  th:classappend="${conditionContentMap['초보자용'] == '초보자용' ? 'clicked' : ''}"/>
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="선물하기 좋은"  th:classappend="${conditionContentMap['선물하기 좋은']  == '선물하기 좋은' ? 'clicked' : ''}"/>
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="공기정화" th:classappend="${conditionContentMap['공기정화']  == '공기정화' ? 'clicked' : ''}" />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="빛이 적어도 되는"  th:classappend="${conditionContentMap['빛이 적어도 되는'] == '빛이 적어도 되는' ? 'clicked' : ''}"/>
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="향기나는"  th:classappend="${conditionContentMap['향기나는']  == '향기나는' ? 'clicked' : ''}"/>
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="반려동물 안전한"  th:classappend="${conditionContentMap['반려동물 안전한']  == '반려동물 안전한' ? 'clicked' : ''}"/>
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="목대있는" th:classappend="${conditionContentMap['목대있는']  == '목대있는' ? 'clicked' : ''}" />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="흙이 필요없는"  th:classappend="${conditionContentMap['흙이 필요없는']  == '흙이 필요없는' ? 'clicked' : ''}"/>
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="덩굴로 자라는"  th:classappend="${conditionContentMap['덩굴로 자라는']  == '덩굴로 자라는' ? 'clicked' : ''}" />
							</li>
						</ul>
					</div>
				</dd>
			</dl>
			<div>
				<div>
					<div class="my-2 text-center">
						<a class="btn btn-outline-dark" id="btnCancel">취소</a> <input
							class="btn btn-outline-dark" type="submit" id="btnUpdate" value="수정 등록" />
						<input class="btn btn-secondary" type="submit" id="btnDelete"
							value="삭제" />
					</div>
				</div>
			</div>
		</form>
	</div>
</main>
<th:block layout:fragment="myscripts">
	<script src="/js/planterior/planteriorUpdateAndDelete.js"></script>
</th:block>
</html>