<!DOCTYPE html> <!-- 수빈 -->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
    	<div>
			<div>
				<h3 class="text-center m-5">스토어 상품 등록</h3>
			</div>
			
			<form method="post" class="form-box" id="createForm" enctype="multipart/form-data"> <!-- encType="multipart/form-data" 모에용? -->
				
				<label>상품</label>
				<div class="input-group">
					<input type="text" id="itemName" name="itemName" class="form-control" placeholder="상품 이름 입력" autofocus required />
				</div>

				<label>가격</label>
				<div class="input-group">
					<input type="number" class="form-control" id="price" name="price"
						placeholder="상품 가격 입력" aria-label="상품 가격 입력" />
				</div>
				
				<label>대표 사진</label>
				<div class="input-group">
					<input class="form-control file-input" type="file" id="file" name="file" /> <!-- accept="image/*" -->
				</div>
				
				<label>상세 설명</label>
				<div class="input-group">
					<textarea id="summernote" name="content" class="form-control" required></textarea>
				</div>
				
				
				<label>수량</label>
				<div class="input-group">
					<input type="number" class="form-control" id="inven" name="inven"
						placeholder="상품 수량 입력" aria-label="상품 수량 입력" />
				</div>
				
				<div class="my-2 text-center">
					<a class="btn btn-secondary" id="btnCancel">취소</a> <!-- 리스트로 이동 -->
					<input class="btn btn-outline-info" type="submit" value="등록" />
				</div>
			</form>
		</div>
	</main>
	
	<th:block layout:fragment="myscripts">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/js/info/notice/notice-summernote.js"></script>
	</th:block>
</html>