<!DOCTYPE html> <!-- 수빈 -->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
		<form>
			<div>
				<div style="float: left;">
					<img src="/images/common/store.jpg" width="300" height="300" />
				</div>
				<div>
					<table>
						<tbody>
							<tr>
								<td th:text="${store.itemName}"
									style="padding: 8px; font-size: 16px; font-weight: bold;"></td>
							</tr>
							<tr>
								<td id="price" th:text="${store.price}"
									style="padding: 8px; font-size: 16px;"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- 재고 개수 -->
				<div id="inven" th:text="${store.inven}"></div>
				<div id="summernote" name="content" th:text="${store.content}"></div>
				<div class="my-2 text-center">
					<a class="btn btn-secondary" id="btnCancel" th:href="@{/mngr/store/list}">취소</a> <!-- 리스트로 이동 -->
					<a class="btn btn-outline-info" th:href="@{/mngr/store/modify?itemId={itemId} (itemId=${store.itemId})}">수정</a>
				</div>
			</div>
		</form>
	</main>
	
</html>