<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
    <h1>상품 관리 리스트</h1>
    <div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="text-center bg-transparent" scope="col">No</th>
					<th class="text-center bg-transparent" scope="col">제품명</th>
					<th class="text-center bg-transparent" scope="col">재고</th>
					<th class="text-center bg-transparent" scope="col">가격</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="store: ${stores}" class="border-dark">
					<th scope="row" class="text-center bg-transparent" th:text="${ store.itemId }"></th>
					<td class="text-center bg-transparent" th:text="${store.itemName}">
						<!-- <a class="link-offset-2 link-underline-opacity-0 link-dark" 
							th:href="@{/mngr/store/detail?itemId={itemId} (itemId=${store.itemId)}" th:text="${store.itemName}">
						</a> -->
					</td>
					<td class="text-center bg-transparent" th:text="${store.inven}"></td>
					<td class="text-center bg-transparent" th:text="${store.price}"></td>
				</tr>
			</tbody>
		</table>
		<div class="text-end">
			<a class="btn" th:href="@{/mngr/store/create}" style="background: deeppink;">상품 등록</a>
		</div>
	</div>
    
	</main>
	
</html>