<!DOCTYPE html> <!-- 수빈 -->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
    	<div>
			<div>
				<h2>스토어 상품 수정</h2>
			</div>
			
			<form id="storeModifyForm">
	      		<label class="form-label" for="itemId">NO</label>
                <div>
                	<input class="form-control" id="itemId" name="itemId" th:value="${store.itemId}" readonly/>
				</div>
				
				<label class="form-label">상품</label>
				<div>
					<input class="form-control" type="text" id="itemName" name="itemName" th:value="${store.itemName}" required />
				</div>
				
				<label class="form-label">가격</label>
				<div>
					<input class="form-control" type="number" id="price" name="price" th:value="${store.price}" required />
				</div>
				
				<label class="form-label">대표 사진</label>
				<div>
					<input class="form-control" type="file" id="thumbnail" name="thumbnail" />
				</div>
				
				<label class="form-label">상세 설명</label>
				<div>
					<textarea class="form-control" id="summernote" name="content" th:text="${store.content}" required></textarea>
				</div>
				
				<label class="form-label">수량</label>
				<div>
					<input class="form-control" type="number" id="inven" name="inven" th:value="${store.inven}" required />
				</div>
				
				<div>
					<label for="checkbox">판매 중단</label>
					<input type="checkbox" name="sold" id="checkbox" value="1"/>
				</div>
			</form>
		
			<div class="my-2 text-center">
				<button class="btn btn-secondary" id="btnDelete">삭제</button>
				<a class="btn btn-outline-info" th:href="@{/mngr/store/list}">목록</a>
				<button class="btn btn-outline-info" id="btnUpdate">수정 완료</button>
			</div>
		</div>
	</main>
	
	<th:block layout:fragment="myscripts">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="/js/info/notice/notice-summernote.js"></script>
		<script src="/js/store/storeModify.js"></script>
	</th:block>
</html>