<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
    	<div>
			<div>
				<h2>스토어 상품 수정</h2>
			</div>
			
			<form id="storeModifyForm">
				
				<label class="form-label">상품</label>
				<div>
					<input class="form-control" type="text" id="itemName" name="itemName" required />
				</div>
				
				<label class="form-label">가격</label>
				<div>
					<input class="form-control" type="number" id="price" name="price" required />
				</div>
				
				<label class="form-label">대표 사진</label>
				<div>
					<input class="form-control" type="file" id="thumbnail" name="thumbnail" />
				</div>
				
				<label class="form-label">상세 설명</label>
				<div>
					<textarea class="form-control" id="summernote" name="content" required></textarea>
				</div>
				
				<label class="form-label">수량</label>
				<div>
					<input class="form-control" type="number" id="inven" name="inven" required />
				</div>
				
				<div>
					<label for="checkbox">판매 중단</label>
					<input type="checkbox" id="checkbox" value="N"/>
				</div>
				
				<div>
					<button>삭제</button>
					<button>목록</button> <!-- 리스트로 이동 -->
					<button>수정 완료</button>
				</div>
			</form>
		</div>
	</main>
	
	<th:block layout:fragment="myscripts">
		<script src="</js/storeSummernote.js"></script>
	</th:block>
</html>