<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
	<h1>QNA 답변</h1>
	<div class="card">
					<form class="card-body" id="modifyForm">
						<!-- 사용자 문의 출력 -->
						<div class="my-2">
							<label class="form-label d-none" for="qid">번호</label> <input
								class="form-control d-none" id="qid" value="${ infoQnA.qid }"
								readonly />
						</div>
						<!-- 제목 -->
						<div class="card mb-3">
							<div class="card-body">
								<h2 class="card-text">작성자 작성한 글 제목</h2>
								<!-- 작성자 -->
								<p id="author" class="card-text">작성자</p>
								<!-- 내용 -->
								<hr />
								<div class="my-2">
									<label class="form-label d-none" for="content">내용</label>
									<div class="card-text" id="content" style="height: 10rem">작성한 내용 DB</div>
								</div>
								<hr />
								<!-- 작성날짜 -->
								<!-- <fmt:formatDate value="${ infoQnA.created_date }"
									pattern="yyyy-MM-dd" var="created" /> -->
								<p class="card-text text-end small" id="created_date">작성한 시간</p>
							</div>
						</div>
						
						
						<!-- 관리자 답변 -->
						<div class="my-2">
							<label class="form-label" for="an_title">제목</label> <input
								class="form-control" type="text" id="an_title" value="답변드립니다."
								name="an_title" required readonly />
						</div>
						<div class="my-2">
							<label class="form-label" for="an_comment">답변</label>
							<textarea class="form-control" style="height: 100px;" id="an_comment" name="an_comment"
								required autofocus></textarea>
						</div>

						<div class="d-grid gap-2 d-md-flex justify-content-md-end">
							<button class="btn btn-primary" type="button" id="btnUpdate">
								등록</button>
								<a class="btn btn-primary" type="button" th:href="@{/mngr/qna/list}">
								목록</a>
						</div>
					</form>
				</div>
	</main>
</html>