<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<main layout:fragment="main">
	<div class="container">
		<table class="table">
			<tbody class="table-group-divider">
				<tr>
					<th>제목</th>
					<td></td>
					<th>작성일</th>
					<td>Otto</td>
				</tr>
				<tr>
					<td colspan="4"></td>
				</tr>
				<tr>
					<th>첨부파일</th>
					<td colspan="3">
						<table class="table">
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</main>

</html>