<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/mngr_base_layout}">
<head>
	<script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script defer src="/js/mngr/manage.js"></script>
	<script th:inline="javascript">
    	var json1 = /*[[${json1}]]*/ null;
    	var json2 = /*[[${json2}]]*/ null;
	</script>
</head>
<main layout:fragment="mngrHome">
	<div>
		<div>
			<h3>통계</h3>
		</div>
        <div style="display: flex; justify-content: space-around;">
            <div style="width: 300px;">
                <canvas id="genderChart1" style="width: 100%; height: 300px;"></canvas>
            </div>
            <div style="width: 300px;">
				<canvas id="genderChart2" style="width: 100%; height: 300px;"></canvas>
            </div>
        </div>
	</div>	
	<div>
		<div>
			<h3>회원 검색</h3>
		</div>
		<div>
			<div>
				<table class="table">
					<thead>
						<tr>
							<th class="text-center">이름</th>
							<th class="text-center">아이디</th>
							<th class="text-center">전화번호</th>
							<th class="text-center">E-MAIL</th>
							<th class="text-center">생년월일</th>
							<th class="text-center">가입일자</th>
							<th class="text-center">성별</th>
						</tr>
					</thead>
					<tbody>
					    <tr th:each="member : ${members}">
					        <td class="text-center" th:text="${member.name}"></td>
					        <td class="text-center" th:text="${member.userId}"></td>
					        
					        <td class="text-center" th:if="${member.phone}" th:text="${member.phone.substring(0, 3) + '-' + member.phone.substring(3, 7) + '-' + member.phone.substring(7)}"></td>
							<td class="text-center" th:unless="${member.phone}">N/A</td>
							
					        <td class="text-center" th:text="${member.email}"></td>
					        
					        <td class="text-center" th:if="${member.birth != null}" th:text="${member.birth}"></td>
							<td class="text-center" th:unless="${member.birth != null}">N/A</td>
					        
					        <td class="text-center" th:text="${#temporals.format(member.joinDate, 'yyyy-MM-dd')}"></td>
					        <td class="text-center" th:if="${member.gender}" th:text="${member.gender}"></td>
					        <td class="text-center" th:unless="${member.gender}">N/A</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div>
				<ul class="pagination justify-content-md-center"
					th:each="pageMaker : ${ pageMaker }">
					
					<li class="page-item"
						th:if="${ pageMaker.prev }">
				      <a class="page-link" th:href="@{ |${pageMaker.startPage - 1}| }" tabindex="-1">Previous</a>
				    </li>
				    <li class="page-item"
				    	th:each="i : ${ #numbers.sequence(pageMaker.startPage, pageMaker.endPage) }">
				    	<a class="page-link"
				    	   th:classappend="${pageMaker.cri.pageNum == i} ? 'active' : ''"
           				   th:text="${i}"
           				   th:href="${i}"></a>
				    </li>
				    	
				    <li class="page-item"
				    	th:if="${ pageMaker.next }">
				      <a class="page-link" th:href="@{ |${pageMaker.endPage + 1}| }">Next</a>
				    </li>
				    
				</ul>
			</div>
			<div>
				<form id="actionForm" action="/mngr/member/manage" method="get">
					<input type="hidden" name="pageNum" th:value="${ pageMaker.cri.pageNum }"/>
					<input type="hidden" name="amount" th:value="${ pageMaker.cri.amount}" />				
				</form>
			</div>
		
			<div>
                <form method="get" th:action="@{ /mngr/member/search }">
                    <div class="row">
                        <div class="col-3">
                            <select class="form-control" name="type">
                                <option value="name">이름</option>
                                <option value="userId">아이디</option>
                                <option value="phone">전화번호</option>
                                <option value="email">E-MAIL</option>
                                <option value="birth">생년월일</option>
                                <option value="joinDate">가입일자</option>
                                <option value="gender">성별</option>
                            </select>
                        </div>
                        <div class="col-8">
                            <input class="form-control" name="keyword"
                                   type="text" placeholder="검색어 입력" required />
                        </div>
                        <div class="col-1">
                            <input class="form-control btn btn-outline-dark"
                                   type="submit" value="검색" />
                        </div>
                    </div>
                </form>
            </div>
		</div>
	</div>
</main>
</html>