<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/planterior.css}" rel="stylesheet" />
</th:block>
<!-- 상세보기 한다면 영문이름과 카테고리 사이에 내용 추가하기 -->
<main layout:fragment="main">
	<div class="container">
		<div class=" createTitle">
			<h3 class="text-center">작성하기</h3>
		</div>
		<form  class="form-box" id="createForm"
			encType="multipart/form-data">
			<dl>
				<div>
					<input type="hidden" id="userId" name="userId"
						th:value="${#authentication.name}" />
				</div>
				<dt align="left" class="dt_class">
					플랜테리어 사진 <span class="highlight">* 1개만 선택 가능</span>
				</dt>
				<!-- 사진 input과 button에 m-2없는 버전 물어보기 -->
				<dd align="left">
					<div id="inputContainer">
						<div class="input-group mb-3">
							<input class="form-control file-input m-2" type="file"
								id="file" name="file"  autofocus required>
							<div class="d-none preview"></div>
						</div>
					</div>
				</dd>
				<br>

				<dt align="left" class="dt_class">식물 이름(한글)</dt>
				<dd align="left">
					<div class="input-group">
						<input type="text" id="plantName" name="plantName" 
							class="form-control" placeholder="식물의 이름을 입력하세요" required />
					</div>
				</dd>
				<br>
				<dt align="left" class="dt_class">식물 이름(영문)</dt>
				<dd align="left">
					<div class="input-group">
						<input type="text" id="plantNameEnglish" name="plantNameEnglish"  style="ime-mode:inactive;"
							class="form-control" placeholder="식물의 영문을 입력하세요"
							 required />
					</div>
				</dd>
				<br>
				<!-- 내용 부분: 상세페이지 구현 시 -->

				<dt align="left" class="dt_class">카테고리</dt>
				<dd align="left">
					<span class="highlight-left">* 1개만 선택 가능</span> <br>
					<div class="input-group">
						<ul class="filterLists list-unstyled">
							<li>
								<input type="image"  class="btn button-outline-bright" th:src="@{/images/planterior/reset.svg}"  id="filter_reset_btn" />
								<input type="button" class="filterBtn btn btn-outline-dark"  value="거실"  />
								<input type="button" class="filterBtn btn btn-outline-dark"  value="주방"  />
								<input type="button" class="filterBtn btn btn-outline-dark"  value="욕실"  />
								<input type="button" class="filterBtn btn btn-outline-dark"  value="방"  />
								<input type="button" class="filterBtn btn btn-outline-dark"  value="베란다"  />
							</li>
						</ul>
						<input class="d-none" name="stateContent" id="stateContent" />
						<input class="d-none" name="conditionContent" id="conditionContent" />
						<ul class="d-none list-unstyled secondFilterSection" id="secondFilter" >
							<li class="filterSecond">
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="초보자용"  />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="선물하기 좋은"  />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="공기정화"  />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="빛이 적어도 되는"  />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="향기나는"  />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="반려동물 안전한"  />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="목대있는"  />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="흙이 필요없는"  />
								<input type="button" class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn" value="덩굴로 자라는"  />
							</li>
						</ul>
					</div>
					<!-- js 처리하기 -->
					
				</dd>
			</dl>
			<div>
				<div>
					<div class="my-2 text-center">
						<a class="btn btn-secondary" id="btnCancel">취소</a> <input
							class="btn btn-outline-dark" type="submit" id="btnCreate" value="등록" />
					</div>
				</div>
			</div>
		</form>
	</div>
</main>
<th:block layout:fragment="myscripts">
	<script src="/js/planterior/planteriorCreate.js"></script>
</th:block>
</html>