<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/planterior.css}" rel="stylesheet" />
</th:block>
<main layout:fragment="main">

	<div class="container plants__page" id="palnts__page">
		<section class="plants_title_section">
			<p class="plants_title">
				어떤 종류의 식물을 <br> 찾고 있나요?
			</p>
		</section>

		<!-- 카테고리 -->
		<form class="filterForm">
			<section class="plants_filter_section" id="first_filter">
				<div class="plants_filter_section" id="first_filter">
					<!-- 선택시 선택한 목록들 확인가능하게 하기: css 덧붙이기 -->
					<ul class="filterLists list-unstyled">
						<li style="margin: 0 0 6px 0;">
							<input type="image" class="btn button-outline-bright"
									th:src="@{/images/planterior/reset.svg}" name="reset"
									id="filter_reset_btn" /> 
							<input type="image" class="btn button-outline-bright" th:src="@{/images/planterior/search.svg}" id="click" />
							
						</li>
						<li>
							<input type="button" class="filterBtn btn btn-outline-dark" value="거실" /> 
							<input type="button" class="filterBtn btn btn-outline-dark" value="주방" />
							<input type="button" class="filterBtn btn btn-outline-dark" value="욕실" /> 
							<input type="button" class="filterBtn btn btn-outline-dark" value="방" /> 
							<input type="button" class="filterBtn btn btn-outline-dark" value="베란다" />
						</li>
					</ul>
					<input class="d-none" name="stateContent" id="stateContent" /> <input
						class="d-none" name="conditionContent" id="conditionContent" />
					<ul class="d-none list-unstyled secondFilterSection"
						id="secondFilter">
						<li><input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="초보자용" /> <input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="선물하기 좋은" /> <input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="공기정화" /> <input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="빛이 적어도 되는" /> <input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="향기나는" /> <input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="반려동물 안전한" /> <input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="목대있는" /> <input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="흙이 필요없는" /> <input type="button"
							class="filterSecondBtn btn btn-outline-dark" id="filterSecondBtn"
							value="덩굴로 자라는" /></li>
					</ul>
				</div>
				<!-- condition_content -->
				<div class="filterDivision"></div>


			</section>
		</form>

		<!-- 식물 데이터 수 div -->
		<div class="plantDataCount">
			<span>식물 데이터</span> <span th:text="${count}"></span>종
		</div>
		<div>
			<span class="pick">이 달의 MD 픽</span>
		</div>

		<!-- 캐러셀 일단 8개 안되면 4개 -->
		<input type="hidden" id="mngrCount" th:value="${mngrCount}" />
		<div class="m-2">
			<div class="row row-cols-1 row-cols-md-4 g-4">
				<div class="col cardBox" th:each="mngrList: ${mngrList}">
					<div class="card">
						<img
							th:src="@{'data:image/png;base64,'+${imagesMngr.get(mngrList.planteriorId)}}"
							class="imgSize" />
						<div class="card-body">
							<div class="">
								<p class="planteriorButtonEle" th:text="${mngrList.plantName}" />
								<p class="planteriorButtonEle"
									th:text="'(' + ${mngrList.plantNameEnglish} +')'" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="p-4"></div>

		<!-- 사용자 All card -->
		<div class="m-2">
			<span class="m-2">All</span>
			<th:block sec:authorize="isAnonymous()">
				<a class="float-end btn btn-outline-dark"
					th:href="@{/planterior/create}" type="button"> 글쓰기 </a>
			</th:block>
			<th:block sec:authorize="isAuthenticated()">
				<th:block th:if="${#authentication.name.equals('admin')}">
					<a th:href="@{/mngr/planterior}"
						class="float-end btn btn-outline-dark" type="button"> 관리자
						플랜테리어 페이지로 돌아가기</a>
				</th:block>
				<th:block th:unless="${#authentication.name.equals('admin')}">
					<a class="float-end btn btn-outline-dark"
						th:href="@{/planterior/create}" type="button"> 글쓰기 </a>
				</th:block>
			</th:block>



		</div>
		<br>
		<div class="m-2">
			<!-- 로그인 안 했을 경우 -->
			<th:block sec:authorize="isAnonymous()">
				<div class="row row-cols-1 row-cols-md-4 g-4">
					<div class="col cardBox" th:each="list: ${cardList}">
						<div class="card">
							<img
								th:src="@{'data:image/png;base64,'+${images.get(list.planteriorId)}}"
								class="imgSize" />
							<div class="card-body row">
								<div class="col-9">
									<p class="planteriorButtonEle" th:text="${list.plantName}" />
									<p class="planteriorButtonEle"
										th:text="'(' + ${list.plantNameEnglish} +')'" />
								</div>
								<div class="col-3 text-end">
									<button class="btn-outline-dark none">
										<img th:src="@{/images/planterior/bookmark.svg}" />
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
			<!-- 로그인 했을 경우 -->
			<th:block sec:authorize="isAuthenticated()">
				<div class="row row-cols-1 row-cols-md-4 g-4">
					<div class="col" th:each="list: ${cardList}">
						<div>
							<input type="hidden" class="userId" name="userId"
								th:value="${#authentication.name}" /> <input type="hidden"
								id="plantName" th:value="${list.plantName}" /> <input
								type="hidden" id="planteriorId" th:value="${list.planteriorId}" />
						</div>
						<th:block th:if="${list.userId == #authentication.name}">
							<div class="card">
								<img class="imgSize"
									th:src="@{'data:image/png;base64,'+${images.get(list.planteriorId)}}" />
								<div class="card-body row">
									<div class="col-9">
										<p class="planteriorButtonEle" th:text="${list.plantName}" />
										<p class="planteriorButtonEle"
											th:text="'(' + ${list.plantNameEnglish} +')'" />
									</div>
									<div class="col-3 text-end">
										<button class="btn-outline-dark notBookmark">
											<img th:src="@{/images/planterior/bookmark.svg}" />
										</button>
									</div>
									<div></div>
								</div>
							</div>
						</th:block>
						<th:block th:unless="${list.userId == #authentication.name}">
							<th:block th:if="${bookmark[list.planteriorId] == null}">
								<div class="card">
									<img class="imgSize"
										th:src="@{'data:image/png;base64,'+${images.get(list.planteriorId)}}" />
									<div class="card-body row">
										<div class="col-9">
											<p class="planteriorButtonEle" th:text="${list.plantName}" />
											<p class="planteriorButtonEle"
												th:text="'(' + ${list.plantNameEnglish} +')'" />
										</div>
										<div class="col-3 text-end">
											<button class="btn-outline-dark imgButton"
												th:value="${list.planteriorId}">
												<img th:src="@{/images/planterior/bookmark.svg}" />
											</button>
										</div>
									</div>
								</div>
							</th:block>
							<th:block th:unless="${bookmark[list.planteriorId] == null}">
								<div class="card">
									<img class="imgSize"
										th:src="@{'data:image/png;base64,'+${images.get(list.planteriorId)}}" />
									<div class="card-body row">
										<div class="col-9">
											<p class="planteriorButtonEle" th:text="${list.plantName}" />
											<p class="planteriorButtonEle"
												th:text="'(' + ${list.plantNameEnglish} +')'" />
										</div>
										<div class="col-3 text-end">
											<button class="btn-outline-dark imgButtonFill"
												th:value="${list.planteriorId}">
												<img th:src="@{/images/planterior/bookmarkFill.svg}" />
											</button>
										</div>
									</div>
								</div>
							</th:block>
						</th:block>
					</div>
					<!-- cardlist -->
				</div>
		</div>
		</th:block>
	</div>
	<!-- 더보기 버튼 -->
	<div class="d-flex justify-content-center">
		<button id="loadMoreButton" class="m-4 btn btn-outline-dark ">더보기</button>
	</div>

	<!-- end -->
</main>
<th:block layout:fragment="myscripts">
	<script src="/js/planterior/planteriorHome.js"></script>
</th:block>
</html>