<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/community.css}" rel="stylesheet" />
</th:block>

<main layout:fragment="main">
	<div class="text-center mb-5">
		<h3>내가 쓴 글</h3>
	</div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th class="text-center" scope="col"><input type="checkbox" class="all-checkbox"/></th>
				<th class="text-center" scope="col">말머리</th>
				<th scope="col">제목</th>
				<th class="text-center" scope="col">작성자</th>
				<th class="text-center" scope="col" colspan="2">작성일</th>
			</tr>
		</thead>
		<tbody class="">
			<tr th:each="post : ${posts}">
				<td class="text-center"><input type="checkbox" id="row-checkbox"></td>
				<td class="text-center"><span th:text="'[' + ${post.hrsHd} + ']'"></span></td>
				<td><a class="link-dark link-underline-opacity-0" th:href="@{/community/detail?id={id} (id = ${post.communityId})}">
				<span th:text="${post.title}"></span></a></td>
				<td class="text-center"><span th:text="${post.userId}"></span></td>
				<td class="text-center"><span th:text="${ #temporals.format(post.createdDate, 'yy-MM-dd HH:mm:ss')}"></span></td>
				<td><span id="communityId" class="d-none" th:text="${post.communityId}"></span></td>
			</tr>
		</tbody>
	</table>
	<div class="text-start">
      <button class="btn delete-button btn-secondary my-2">삭제</button>
    </div>
<!-- 	<form th:action="@{/mypage/community/search}">
	<input type="hidden" name="userId" th:value="${ #authentication.name }"/>
	<div class="row">
		<div class="col-2 mb-3">
			<select class="form-select" aria-label="" name="type">
				<option value="t">제목</option>
				<option value="c">내용</option>
				<option value="tc">제목+내용</option>
			</select>
		</div>	
		<div class="col-9">
			<input class="form-control" name="keyword" type="text" placeholder="검색어 입력" required autofocus/>
		</div>
		<div class="col-1">
			<input class="form-control btn btn-outline-dark" type="submit" value="검색" />
		</div>
	</div>
</form> -->
<!-- 페이징처리 시작 -->
<nav aria-label="...">
	<ul class="pagination pagination-sm justify-content-center">
		<li th:each="page : ${#numbers.sequence(startPage, endPage)}" class="page-item">
			<a style="color: white; background-color: black; border-color: black;" th:if="${page == nowPage}" class="page-link active" th:text="${page}"></a> 
			<a style="color: black;" th:if="${page != nowPage}" th:href="@{/mypage/community/my_posts(userId=${ #authentication.name },page=${page - 1})}" class="page-link" th:text="${page}"></a>
		</li>
	</ul>
</nav>
<!-- 페이징처리 끝 -->
</main>
<th:block layout:fragment="myscripts">>
     <script src="/js/community/community-mypage.js"></script>
</th:block> 
</html>