<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/community.css}" rel="stylesheet" />
</th:block>

<main layout:fragment="main">
	<div>
		<h1 class="text-center">내가 쓴 글</h1>
	</div>
    <div class="mb-2 text-end">
      <button class="btn delete-button btn-secondary">글삭제</button>
    </div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col"><input type="checkbox" class="all-checkbox"/></th>
				<th scope="col">말머리</th>
				<th scope="col">제목</th>
				<th scope="col">작성자</th>
				<th scope="col">작성일</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			<tr th:each="post : ${posts}">
				<td><input type="checkbox" id="row-checkbox"></td>
				<td><span th:text="'[' + ${post.hrsHd} + ']'"></span></td>
				<td><a th:href="@{/community/detail?id={id} (id = ${post.communityId})}">
				<span th:text="${post.title}"></span></a></td>
				<td><span th:text="${post.userId}"></span></td>
				<td><span th:text="${ #temporals.format(post.createdDate, 'yy-MM-dd HH:mm:ss')}"></span></td>
				<td><span id="communityId" class="d-none" th:text="${post.communityId}"></span></td>
			</tr>
		</tbody>
	</table>
	<form th:action="@{/mypage/community/search}">
	<input  name="userId" th:value="${ #authentication.name }"/>
	<div class="row">
		<select class="form-control" name="type">
			<option value="t">제목</option>
			<option value="c">내용</option>
			<option value="tc">제목+내용</option>
		</select>
	</div>	
	<div class="col-8">
		<input class="form-control" name="keyword" type="text" placeholder="검색어 입력" required/>
	</div>
	<div class="col-1">
		<input class="form-control btn btn-outline-dark" type="submit" value="검색" />
	</div>
</form>
</main>
<th:block layout:fragment="myscripts">>
     <script src="/js/community/community-mypage.js"></script>
</th:block> 
</html>