<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
	<main layout:fragment="main">
		<div class="mb-5 text-center">
				<h3>MY QnA</h3>
		</div>
		<div th:if="${myQnAlist.empty}">
        	<p class="text-center">등록된 QnA가 없습니다.</p>
    	</div>
	<div th:if="${not myQnAlist.empty}">
		
		<div class="row p-0 m-0 my-2">
			<div class="col-6 d-flex justify-content-start p-0">
				<button class="btn btn-secondary" type="submit" id="btnAllDelete">삭제</button>
			</div>
			
			<!-- <div class="col-6 d-flex justify-content-end p-0">
	        	<button class="btn btn-secondary" type="submit" id="btnAllDelete">삭제</button>
			</div> -->
		</div>
		 
		<form id="qnamyalldeleteForm" method="post" class="my-2">	
		   	<table class="table table-hover">
		   	<colgroup>
				<col width="2%">
				<col width="7%">
				<col width="2%">
				<col width="2%">
			</colgroup>
				<thead class="text-center">
					<tr>
						<th scope="col"><input type="checkbox" id="selectAll" /></th>
						<th scope="col">제목</th>
						<th scope="col">작성일</th>
						<th scope="col">진행상태</th>
					</tr>
				</thead>
				<tbody class="text-center">
					<tr th:each="qnalist: ${myQnAlist}">
						<td scope="col">
							<input type="checkbox" id="selectedQnaIds" name="selectedQnaIds" th:value="${qnalist.qid}" />
							<input type="hidden" id="hiddenSelectedQnaIds" name="hiddenSelectedQnaIds" th:value="${qnalist.qid}" />
							<input type="hidden" id="hiddenuserId" name="hiddenSelectedQnaIds" th:value="${qnalist.userId}" />
						</td>
						<td scope="col">
							<a th:href="@{/mypage/qna/detail?(userId=${#authentication.name},qid=${qnalist.qid})}" th:text=${qnalist.title}
							class="text-decoration-none text-reset"></a>
						</td>
						<td scope="col" th:text="${#temporals.format(qnalist.createdDate, 'yy-MM-dd HH:mm')}"></td> 
						<td th:if="${#strings.isEmpty(qnalist.an_title)}">확인중</td>
						<td th:if="${not #strings.isEmpty(qnalist.an_title)}">확인완료</td>
					</tr>	
				</tbody>
			</table>
		
		</form>
		<!-- 
		<div class="row p-0 m-0 my-2">
			<div class="col-6 d-flex justify-content-start p-0">
				<button class="btn btn-secondary" type="submit" id="btnAllDelete">삭제</button>
			</div>
			
			<div class="col-6 d-flex justify-content-end p-0">
	        	<button class="btn btn-secondary" type="submit" id="btnAllDelete">삭제</button>
			</div>
		</div>
		 -->
		<!-- <div class="col-6 d-flex justify-content-end">
        	<button class="btn btn-secondary" type="submit" id="btnAllDelete">삭제</button>
		</div> -->
		<!-- 페이징처리 시작 -->
        <nav aria-label="...">
	    <ul class="pagination pagination-sm justify-content-center">
	        <!--  이전 페이지 세트로 가는 화살표-->
	        <li th:if="${startPage > 1}" class="page-item">
	            <a th:href="@{/mypage/qna/qna_list(userId=${#authentication.name},page=${page - 1})}" class="page-link">&laquo;</a>
	        </li>
	       <!--  페이지 번호들 (최대 5개까지 표시)-->
	        <li th:each="page : ${#numbers.sequence(startPage, endPage)}"
	            class="page-item">
	            <a th:if="${page == nowPage}" class="page-link active" th:text="${page}" style="color: white; background-color: black; border-color: black;"></a>
	            <a th:if="${page != nowPage}" th:href="@{/mypage/qna/qna_list(userId=${#authentication.name},page=${page - 1})}" class="page-link" th:text="${page}" style="color: black;"></a>
	        </li>
	        <!-- 다음 페이지 세트로 가는 화살표-->
	        <li th:if="${endPage < myQnAlist.totalPages}" class="page-item">
	            <a th:href="@{/info/qna(page=${endPage})}" class="page-link">&raquo;</a>
	        </li>
	    </ul>
	</nav>
		<!-- 페이징처리 끝 -->	
</div>		
	<script src="/js/info/qna/my_qna_alldelete.js"></script>
	</main>
</html>
