<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<th:block layout:fragment="mycsses">
	<link th:href="@{/css/planterior.css}" rel="stylesheet" />
</th:block>
<main layout:fragment="main">
	<div>
		<p>커뮤니티 > 이게 뭔가요?</p>
	</div>
	<div>
		<h1 class="text-center">게시판</h1>
	</div>
		<input class="btn btn-success" type="button" value="글쓰기"/>
	<table class="table table-hover">
		<thead>
			<tr>
				<th><input type="checkbox"/></th>
				<th>말머리</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
			</tr>
			
		</thead>
		<tbody>
			<tr>
				<td><input type="checkbox" id="checkAll"></td>
				<td>${ post.hrs_hd }</td>
				<td>${ post.title }</td>
				<td>${ post.author }</td>
				<td>${ post.createdTime }</td>
			<tr>
		</tbody>
	</table>
</main>
</html>