<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
		<div class="container">
			<div class="mb-5 text-center">
				<h1 class="my-4" style="text-align: center;">FAQ 관리자 작성하기</h1>
			</div>
			<div class="card">
				<form method="post">
					<div class="card-body">
						<div class="my-4">
							<label class="form-label" for="question">질문</label> <input
								class="form-control" type="text" id="question" name="question"
								required />
						</div>
						<div>
							<label class="form-label" for="answer">답변</label>
							<textarea class="form-control" id="answer" name="answer" style="width: 100%; height: 300px;" required></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="my-4 text-end">
				<input class="btn btn-outline-dark justify-content-md-end" id="btnFaqSubmit" type="submit" value="등록" />
				<a class="btn btn-secondary" th:href="@{/mngr/faq/list}">취소</a>
			</div>
		</div>	
</main>
</html>