<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
	<div class="container">
		<div class="mb-5 text-center">	
			<h1 class="my-4" style="text-align: center;">FAQ 관리자 수정</h1>
		</div>
		<div>
			<form id="faqDetailForm">
				<div>
					<!-- 상세내용 div -->
						<div class="my-4 d-none">
							<label class="form-label" for="fqid">NO.</label> 
							<input class="form-control" id="fqid" name="fqid" th:value="${faq.fqid}"readonly />
							</div>
							<div class="my-4">
								<label class="form-label" for="question">question</label> 
								<input class="form-control" type="text" id="question" name="question" th:value="${faq.question}" />
							</div>
							<div class="my-4">
								<label class="form-label" for="answer">answer</label>
								<textarea class="form-control" id="answer" name="answer" th:utext="${faq.answer}" style="width: 100%; height: 300px;"></textarea>
							</div>
						</div>
					</form>
				</div>

				<div class="card-footer my-2 text-end">
					<button class="btn btn-outline-dark" id="btnFaqUpdate">수정</button>
					<button class="btn btn-secondary" id="btnFaqDelete">삭제</button>
				</div>
		<th:block layout:fragment="myscripts">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
			<script src="/js/info/faq/faq_mngr_summernot.js"></script> 
			<script src="/js/info/faq/faq_modify_mngr.js"></script> 	
		</th:block>   	  	
		</div>
	</main>
</html>