<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
	<br />
	<h1 class="my-2" style="text-align: center;">FAQ 상세페이지</h1>
	<br />
		<div class="card">
			<form id="faqDetailForm">
				<div class="card-body">
					<!-- 상세내용 div -->
						<div class="my-4">
							<label class="form-label" for="fqid">NO.1</label> 
							<input class="form-control" id="fqid" name="fqid" th:value="${faq.fqid}"readonly />
							</div>
							<div class="my-4">
								<label class="form-label" for="question">question</label> 
								<input class="form-control" type="text" id="question" name="question" th:value="${faq.question}" />
							</div>
							<div class="my-4">
								<label class="form-label" for="answer">answer</label>
								<textarea class="form-control" id="answer" name="answer" th:text="${faq.answer}">답변</textarea>
							</div>
						</div>
					</form>
				</div>

				<div class="card-footer my-2 text-center">
	
					<button class="btn btn-primary" id="btnFaqUpdate">수정</button>
					<button class="btn btn-primary" id="btnFaqDelete">삭제</button>
				</div>
			<script src="/js/info/faq/faq_modify_mngr.js"></script>   	
	</main>
</html>