<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="mngrHome">
	<div class="container">
		<div class="mb-5 text-center">
			<h1 class="my-4" style="text-align: center;">FAQ 관리자</h1>
		</div>
		<div th:if="${faqs.empty}">
        	<p class="text-center">등록된 FAQ가 없습니다.</p>
    	</div>
    	<div th:if="${not faqs.empty}">
			<table class="table table-hover">
					<thead class="text-center">
					<tr>
						<th scope="col">No</th>
						<th scope="col">제목</th>
					</tr>
					</thead>
					<tbody class="text-center">
					<tr th:each="faq :${faqs}">
						<th scope="col" th:text="${faq.fqid}"></th>
						<td>
							<a th:href="@{/mngr/faq/detail?fqid={id} (id= ${faq.fqid})}" th:text="${faq.question}"
							class="text-decoration-none text-reset"></a>
						</td>
					</tr>		
				</tbody>
			</table>
		</div>	
			<div class="text-end">
				<a class="btn btn-outline-dark" th:href="@{/mngr/faq/create}">FAQ 작성하기</a>	
			</div>
		</div>
	</main>
</html>