<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<!-- <style>
h2 {
	text-align: center;
}

div {
	display: table-row;
}
</style> -->

<main layout:fragment="main">
	<span id="userId" name="userId" th:text="${#authentication.name}"></span>
	<span id="itemId" name="itemId" th:text="${store.itemId}"></span>
	<h2>상품 상세보기</h2>
	<div class="container">
		<!-- <form id="storeForm"> -->
		<table class="table table-borderless">
			<tbody>
				<tr th:switch="${ store.sold }">
					<td rowspan="4" width=300><img class="rounded" width=100%
						src="/images/common/store.jpg" /></td>
					<td style="vertical-align: middle">
						<h3 id="itemName" name="itemName" th:text="${store.itemName}"></h3>
						<h5 id="itemPrice" class="d-none" th:text="${store.price}"></h5>
						<h5
							th:text="|${#numbers.formatInteger(store.price, 0, 'COMMA')}원|"></h5>
						<span><strong>배송비:</strong> 3,000원</span><small>(제주 및 도서
							산간 2,500원 추가)</small>
						<br />
						<th:block th:if="${store.sold} == 1">
							<i>품절</i>
						</th:block>
					</td>
				</tr>
				<tr>
					<td style="vertical-align: middle"><span id="plusMinus"
						class="input-group mt-1" style="width: 5.3rem;"> <!-- 수량 줄이기 -->
							<button id="btnMinus" class="btn btn-sm btn-outline-secondary"
								type="button" style="height: 1.5rem; font-size: 7pt;">-</button>

							<!-- submit 할 때 필요한거 1: 상품의 수량 --> <input id="cnt" name="cnt"
							type="text" class="form-control" value="1"
							style="height: 1.5rem; font-size: 7pt; text-align: center;" /> <!-- 수량 더하기 -->
							<button id="btnPlus" class="btn btn-sm btn-outline-secondary"
								type="button" style="height: 1.5rem; font-size: 7pt;">+</button>
					</span></td>
				</tr>
				<tr>
					<td style="vertical-align: middle"><strong>총 상품금액</strong> : <span
						class="total"> <strong id="totalPrice"
							th:text="|${#numbers.formatInteger(store.price, 0, 'COMMA')}원|"></strong></span>
					</td>
				</tr>

				<tr style="vertical-align: bottom">
					<td>
						<div class="d-grid gap-2 d-md-flex">
							<!-- wish=false / buywish에 내 아이디가 없음 >> 관심 상품 추가 -->
							<th:block th:unless="${wish}">
								<button class="btn btn-outline-dark" id="addWishBtn"
									name="addWishBtn">관심 상품에 추가</button>
							</th:block>

							<!-- wish=true / buywish에 내 아이디가 있음 >> 관심 상품 삭제 -->
							<th:block th:if="${wish}">
								<button class="btn btn-outline-dark" id="deleteWishBtn"
									name="deleteWishBtn" th:data-id="${store.itemId}">관심
									상품 삭제</button>
							</th:block>
							<!-- 항상 보일 것 -->
							<button class="btn btn-outline-dark" id="addCartBtn"
								name="addCartBtn">장바구니에 담기</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div id="summernote" name="content" th:utext="${store.content}"></div>

		<!-- 재고 개수 -->
		<input class="d-none" type="text" id="inven" name="inven"
			th:value="${store.inven}" />
		<!-- submit 할 때 필요한거 2: 상품 아이디 -->
		<input class="d-none" type="text" id="itemId" name="itemId"
			th:value="${store.itemId}" />
		<!-- </form> -->
	</div>


</main>

<th:block layout:fragment="myscripts">
	<script src="/js/chat.js"></script>
	<script src="/js/store/storeDetail.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
</th:block>
</html>