<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/base_layout}">
<style>
h2 {
   text-align: center;
}

div {
   display: table-row;
}
</style>
	
	<main layout:fragment="main">
	   <h2>상품 상세보기</h2>
	   <div>
	      <div>
	         <div style="float: left;">
	            <img src="/images/common/store.jpg" width="300" height="300" />
	         </div>
	         <div>
	            <div>
	               <div>
	                  <table>
	                     <tbody>
	                        <tr>
	                           <td th:text="${store.itemName}" style="padding: 8px; font-size: 16px; font-weight: bold;"></td>
	                        </tr>
	                        <tr>
	                           <td th:text="${store.price}" style="padding: 8px; font-size: 16px;"></td>
	                        </tr>
	                     </tbody>
	                  </table>
	                  
	                  <table>
	                     <tbody>
	                        <tr>
	                           <th scope="col">배송비</th>
	                           <td>
	                           		3,000원
	                           		<br/>
	                          		제주 및 도서 산간 2,500원
	                           </td> <!-- 이러면 되나 -->
	                        </tr>
	                        <tr>
	                           <th scope="col">수량</th>
	                           <td>
		                           <span id="plusMinus" class="input-group mt-1" style="width: 4.7rem;"> 
		                           		 <!-- 수량 줄이기 -->
		                                 <button id="btnMinus" class="btn btn-sm btn-outline-secondary" type="button"
		                                    style="height: 1.5rem; font-size: 7pt;">-</button> 
		                                 
		                                 <!-- 장바구니> 각상품의 수량 -->
		                                 <input id="productCnt" type="text" class="form-control"
		                                 value="1" style="height: 1.5rem; font-size: 7pt;" /> 
		                                 
		                                 <!-- 수량 더하기 -->
		                                 <button id="btnPlus" class="btn btn-sm btn-outline-secondary"
		                                    type="button" style="height: 1.5rem; font-size: 7pt;">+</button>
		                           </span>
	                           </td>
	                        </tr>
	                     </tbody>
	                  </table>
	               </div>
	
	               <div id="totalPrice" class="totalPrice">
	                  <strong>총 상품금액</strong>
	                  	(수량) : 
	                  	<span class="total">
	                  		<strong th:text="${store.price * 2}"><em>5,000원</em></strong>
	                    	(1개)
	                    </span>
	               </div>
	
	               <div>
	                  <div class="ec-base-button gColumn" style="float: left;">
	                     <a href="#none" class="btnNormal btnGrowing  "
	                        onclick="product_submit(2, '/exec/front/order/basket/', this)">
	                        관심 상품에 추가
	                     </a>
	                  </div>
	                  <div>
	                     <a href="#none" class="btnNormal btnInvert ">장바구니에 담기</a>
	                  </div>
	                  <div class="app-payment-flex-group"></div>
	               </div>
	            </div>
	         </div>
	      </div>
	   </div>
	   <div>
	      <hr>
	   </div>
	   <div id="summernote" name="content">팝니다</div>
	</main>
	   
	<th:block layout:fragment="myscripts">
	      <script src="/js/chat.js"></script>
	   </th:block>
</html>