<!DOCTYPE html> <!-- 수빈 -->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
	<main layout:fragment="main">
	<div class="py-4 text-center">
    	<h1>내풀잎🍀스토어</h1>
    </div>
    <!-- 1. 품절 시 하얗게 / 문구 가운데 -->
	<div class="border-dark container">
		<div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
			<div class="col" th:each="store: ${stores}">
				
				<!-- sold값으로 switch문 -->
				<div th:switch="${store.sold}" 
					class="container p-0" style="position: relative; text-align: center; color: black;">
					<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}"> 
						<!-- 1, 품절일 경우 -->
						<th:block th:case="1">
							<img class="rounded mb-1" style="object-fit:cover; height:300px; width:300px; opacity: 50%;"
								th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
							<span class="link-dark centered"
								style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 10pt">
								<i>품절</i>
							</span>
						</th:block>
						
						<!-- 0, 판매중일 경우 -->
						<th:block th:case="0">
							<img class="rounded mb-1" style="object-fit:cover; height:300px; width:300px;"
								th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
						</th:block>
					</a>
				</div> <!-- 사진 div end -->
				
				<div class="text-truncate">
					<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}"
						class="link-dark link-underline-opacity-0"> 
						<span th:text="${store.itemName}" class="card-title text-truncate"></span>
					</a>
					<p class="card-text" th:text="|${#numbers.formatInteger(store.price, 0, 'COMMA')}원|"></p>
				</div> <!-- 이름 가격 div end -->
				
			</div>
		</div>
	</div>
    
	</main>
	
</html>