<!DOCTYPE html> <!-- 수빈 -->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
<main layout:fragment="main">
   <h3 class="text-center mb-5">스토어</h3>
   <!-- 1. 품절 시 하얗게 / 문구 가운데 -->
	<div class="border-dark container">
		<div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
			<div class="col" th:each="store: ${stores}">
				
				<!-- sold값으로 switch문 -->
				<div th:switch="${store.sold}" class="thumbnail-div-store container p-0">
					<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}"> 
						<!-- 1, 품절일 경우 -->
						<th:block th:case="1" >
							<img class="thumbnail-soldout-store rounded mb-1"
								th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
							<span class="thumbnail-soldout-store-label link-dark centered">
								<i>품절</i>
							</span>
						</th:block>
						
						<!-- 0, 판매중일 경우 -->
						<th:block th:case="0">
							<!-- 재고 0일 경우 -->
							<th:block th:if="${store.inven == 0}">
								<img class="thumbnail-soldout-store rounded mb-1"
									th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
								<span class="thumbnail-soldout-store-label link-dark centered">
									<i>일시 품절</i>
								</span>
							</th:block>
							<th:block th:unless="${store.inven == 0}">
								<img class="thumbnail-onsale-store rounded mb-1"
									th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
							</th:block>
						</th:block>
					</a>
				</div> <!-- 사진 div end -->
				
				<div class="text-truncate">
					<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}"
						class="link-dark link-underline-opacity-0"> 
						<span th:text="${store.itemName}" class="card-title text-truncate"></span>
					</a>
					<p th:text="|${#numbers.formatInteger(store.price, 0, 'COMMA')}원|"></p>
				</div> <!-- 이름 가격 div end -->
				
			</div>
		</div>
	</div>
   <!-- 페이징~ -->
<th:block th:if="${totalPage>=1}">
	<div class="pt-5">
		<nav id="paging-block">
			<ul class="pagination justify-content-md-center">
				<li class="page-item">
					<a class="page-link" th:href="@{/store/list(page=${0})}">
						&laquo;
					</a>
				</li>
				<li th:each="page : ${#numbers.sequence(startPage, endPage)}" class="paging-item page-item"
					th:classappend="${page == nowPage} ? 'active' : ''">
					<a class="page-link link-dark" th:href="@{/store/list(page=${page -1})}" th:text="${page}" th:value="${page}"></a>
				</li>
				<li class="page-item">
					<a class="page-link" th:href="@{/store/list(page=${totalPage})}"> 
						&raquo;
					</a>
				</li>
			</ul>
		</nav>
	</div>
</th:block>
</main>

</html>