<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<link rel="stylesheet" href="/css/cart.css">

	<main layout:fragment="main">
    <div class="py-4 text-center">
    	<h3 class="text-center mb-5">장바구니</h3>
    </div>
    
    <span class="d-none" id="userId" name="userId" th:text="${#authentication.name}"></span>
	<th:block th:if="${#lists.isEmpty(carts)}">
		 <div class="text-center my-5">
		 	<h4>장바구니가 비어있습니다 🛒</h4>
		 </div>
	</th:block>

	<th:block th:if="${!#lists.isEmpty(carts)}">
	    <div class="container">
	   		<th:block th:each="store: ${stores}">
	    		<table class="table table-borderless">
	    			<tbody>
	    				<tr class="">
	    					<td class="col-1" style="width: 6rem;"> <!-- th:value="${store.thumbnail}" -->
	    						<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}">
	    							<img class="rounded" style="object-fit:cover; height:100px; width:100px;"
									th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
	    						</a>
	    					</td>
	    					<td class="col-6" style="vertical-align: middle">
	    						<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}"
	    							class="link-dark link-underline-opacity-0">
									<span id="itemName" name="itemName" th:text="${store.itemName}"></span>
								</a>
								<span id="plusMinus" class="input-group mt-1" style="width: 5.3rem;">
									<!-- 수량 줄이기 -->
									<button id="btnMinus" class="btn btn-sm btn-outline-secondary" 
										type="button" style="height: 1.5rem; font-size: 7pt;" th:attr="data-btnMinus=${store.itemId}">-</button>
								
									<th:block th:each="cart: ${carts}">
										<input th:if="${store.itemId} == ${cart.itemId}" readonly
											th:id="|cnt_${cart.itemId}|" name="cnt" type="text" class="form-control" th:value="${cart.cnt}" 
											style="height: 1.5rem; font-size: 7pt; text-align: center;" />
									</th:block>
								
									<!-- 수량 더하기 -->
									<button id="btnPlus" class="btn btn-sm btn-outline-secondary" 
										type="button" style="height: 1.5rem; font-size: 7pt;" th:attr="data-btnPlus=${store.itemId}">+</button>
								</span>
							</td>
							<td class="col-4" style="vertical-align: middle">
								<span>총 상품 금액 :
									<span class="d-none" th:id="|price_${store.itemId}|" th:text="${store.price}"></span>
									<span class="d-none" th:id="|inven_${store.itemId}|" th:text="${store.inven}"></span>
									<th:block th:each="cart: ${carts}">
										<span class="d-none" th:if="${store.itemId} == ${cart.itemId}" 
										th:id="|cntPrice_${store.itemId}|" name="cntPrice" th:text="${store.price} * ${cart.cnt}"></span>
										<span th:if="${store.itemId} == ${cart.itemId}" 
										th:id="|showPriceCnt_${store.itemId}|" th:text="|${#numbers.formatInteger(store.price * cart.cnt, 0, 'COMMA')}원|"></span>
									</th:block>
								</span>
							</td>
							<td class="col-1" style="vertical-align: middle">
								<button class="btn btn-sm btn-outline-dark" id="cartDeleteBtn" name="cartDeleteBtn" th:data-id="${store.itemId}">삭제</button>
							</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    		
	    		<hr />
	    		
	   		</th:block>
	   		<div class="text-center" >
	   			<table class="table table-borderless text-center">
		   			<tbody>
		   				<tr>
		   					<th>
		   						<div class="text-end">상품 합계</div><!-- totalPrice 다 더한거 -->
		   						<div class="text-end">배송비</div><!-- TODO: 추가 배송비 -->
		   						<div class="text-end">합계</div><!-- totalPrice + 배송비 -->
		   					</th>
		   					<td style="width:40%"></td>
		   					<td>
		   						<!-- totalPrice 다 더한거 -->
		   						<span class="d-none" id="totalItemPrice" name="totalItemPrice"></span>
								<div class="text-start" id="showTotalItemPrice"></div>
								<!-- TODO: 추가 배송비 -->
								<span class="d-none" id="deliveryCharge" name="deliveryCharge">3000</span>
								<div class="text-start" th:text="|${#numbers.formatInteger(3000, 0, 'COMMA')}원|"></div>
								<!-- totalPrice + 배송비 -->
								<span class="fw-bold d-none" id="totalPriceDeliveryCharge" name="totalPriceDeliveryCharge"></span>
								<div class="text-start fw-bold" id="showTotalPriceDeliveryCharge"></div>
		   					</td>
		   				</tr>
	   				</tbody>
	   			</table>
	   		</div>
	   		<div class="mt-5 text-center">
	   			<!-- <button th:href="@{/order/orderDetail(userId=${#authentication.name})}" class="btn btn-outline-dark btn-lg">구매하기</button> -->
	   			<a class="btn btn-outline-dark" th:href="@{/order/orderDetail(userId=${#authentication.name})}">
	   			구매하기
	   			</a>
	   		</div>
	    </div>
	    
	</th:block>

    
	</main>

<th:block layout:fragment="myscripts">
	<script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/js/cart/cartList.js"></script>
</th:block>

</html>