<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<link rel="stylesheet" href="/css/cart.css">

	<main layout:fragment="main">
    <div class="py-4 text-center">
    	<h1>🍀장🍀바🍀구🍀니🍀</h1>
    </div>
    
    <span id="userId" name="userId" th:text="${#authentication.name}"></span>
    
    <div class="container">
    	<!-- <form id="cartForm"> -->
    		<th:block th:each="store: ${stores}">
	    		<table class="table table-borderless">
	    			<tbody>
	    				<tr class="row">
	    					<td class="col" style="width: 6rem;"> <!-- th:value="${store.thumbnail}" -->
	    						<img class="rounded" src="/images/common/store.jpg" style="width: 6rem; height: 6rem;" />
	    					</td>
	    					<td class="col-6" style="vertical-align: middle">
								<span id="itemName" name="itemName" th:text="${store.itemName}"></span>
							</td>
							<td class="col-1">
								<span id="plusMinus" class="input-group mt-1" style="width: 5.3rem;">
									<!-- 수량 줄이기 -->
									<button id="btnMinus" class="btn btn-sm btn-outline-secondary" 
										type="button" style="height: 1.5rem; font-size: 7pt;" th:data-id="${store.itemId}">-</button>
								
									<th:block th:each="cart: ${carts}">
										<input th:if="${store.itemId} == ${cart.itemId}" 
											id="cnt_${cart.itemId}" name="cnt" type="text" class="form-control" th:value="${cart.cnt}"
											style="height: 1.5rem; font-size: 7pt; text-align: center;"  />
									</th:block>
								
									<!-- 수량 더하기 -->
									<button id="btnPlus" class="btn btn-sm btn-outline-secondary" 
										type="button" style="height: 1.5rem; font-size: 7pt;" th:data-id="${store.itemId}">+</button>
								</span>
							</td>
							<td class="col-3" style="vertical-align: middle">
								<!-- <span th:text="|총 상품 금액: ${store.price}|"></span> --> 
								<span>총 상품 금액 :</span>
								<span id="totalPrice"></span> <!-- TODO: price * cnt -->
							</td>
							<td class="col-1">
								<button class="btn btn-sm btn-outline-dark" id="cartDeleteBtn" name="cartDeleteBtn" th:data-id="${store.itemId}">삭제</button>
							</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    		
	    		<hr />
	    		
    		</th:block>
    		
    		<div class="row">
				<span class="col">상품 합계</span>
				<span class="col text-end" id="price" name="price"></span> <!-- totalPrice 다 더한거 -->
			</div>
			<div class="row">
				<span class="col">배송비</span>
				<span class="col text-end" id="deliveryCharge" name="deliveryCharge"></span>
			</div>
			<div class="row">
				<strong class="col">합계</strong>
				<strong class="col text-end" id="sum" name="sum"></strong>
			</div>
    		
    		<button class="btn btn-outline-dark">구매하기</button>
    	<!-- </form> -->
    </div>
    
	</main>

<th:block layout:fragment="myscripts">
	<script src="/js/cart/cartList.js"></script>
</th:block>

</html>