<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<link rel="stylesheet" href="/css/cart.css">

	<main layout:fragment="main">
    <div class="py-4 text-center">
    	<h1>🍀장🍀바🍀구🍀니🍀</h1>
    </div>
    
    <span class="d-none" id="userId" name="userId" th:text="${#authentication.name}"></span>
    	
	<th:block th:if="${#lists.isEmpty(carts)}">
		 <div class="text-center my-5">
		 	<h1>장바구니가 비어있음! ㅎㅎ</h1>
		 </div>
	</th:block>

	<th:block th:if="${!#lists.isEmpty(carts)}">
	    <div class="container">
	   		<th:block th:each="store: ${stores}">
	    		<table class="table table-borderless">
	    			<tbody>
	    				<tr class="">
	    					<td class="col-1" style="width: 6rem;"> <!-- th:value="${store.thumbnail}" -->
	    						<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}">
	    							<img class="rounded" style="object-fit:cover; height:100px; width:100px;"
									th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
	    						</a>
	    					</td>
	    					<td class="col-6" style="vertical-align: middle">
	    						<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}"
	    							class="link-dark link-underline-opacity-0">
									<span id="itemName" name="itemName" th:text="${store.itemName}"></span>
								</a>
								<span id="plusMinus" class="input-group mt-1" style="width: 5.3rem;">
									<!-- 수량 줄이기 -->
									<button id="btnMinus" class="btn btn-sm btn-outline-secondary" 
										type="button" style="height: 1.5rem; font-size: 7pt;" th:attr="data-btnMinus=${store.itemId}">-</button>
								
									<th:block th:each="cart: ${carts}">
										<input th:if="${store.itemId} == ${cart.itemId}" readonly
											th:id="|cnt_${cart.itemId}|" name="cnt" type="text" class="form-control" th:value="${cart.cnt}" 
											style="height: 1.5rem; font-size: 7pt; text-align: center;" />
									</th:block>
								
									<!-- 수량 더하기 -->
									<button id="btnPlus" class="btn btn-sm btn-outline-secondary" 
										type="button" style="height: 1.5rem; font-size: 7pt;" th:attr="data-btnPlus=${store.itemId}">+</button>
								</span>
							</td>
							<td class="col-4" style="vertical-align: middle">
								<span>총 상품 금액 :
									<span class="d-none" th:id="|price_${store.itemId}|" th:text="${store.price}"></span>
									<span class="d-none" th:id="|inven_${store.itemId}|" th:text="${store.inven}"></span>
									<th:block th:each="cart: ${carts}">
										<span th:if="${store.itemId} == ${cart.itemId}" 
										th:id="|cntPrice_${store.itemId}|" name="cntPrice" th:text="${store.price} * ${cart.cnt}"></span>
									</th:block>
								</span>
							</td>
							<td class="col-1" style="vertical-align: middle">
								<button class="btn btn-sm btn-outline-dark" id="cartDeleteBtn" name="cartDeleteBtn" th:data-id="${store.itemId}">삭제</button>
							</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    		
	    		<hr />
	    		
	   		</th:block>
	   		
	   		<div class="row">
				<span class="col">상품 합계</span> <!-- totalPrice 다 더한거 -->
				<span class="col text-end" id="totalItemPrice" name="totalItemPrice"></span>
			</div>
			<div class="row">
				<span class="col">배송비</span> <!-- TODO: 추가 배송비 -->
				<span class="col text-end" id="deliveryCharge" name="deliveryCharge">3000</span>
			</div>
			<div class="row">
				<strong class="col">합계</strong> <!-- totalPrice + 배송비 -->
				<span class="col text-end fw-bold" id="totalPriceDeliveryCharge" name="totalPriceDeliveryCharge"></span>
			</div>
	   		
	   		<br/>
	   		<br/>
	   		
	   		<div class="d-grid gap-2 col-6 mx-auto">
	   			<!-- <button th:href="@{/order/orderDetail(userId=${#authentication.name})}" class="btn btn-outline-dark btn-lg">구매하기</button> -->
	   			<a class="btn btn-outline-dark btn-lg" th:href="@{/order/orderDetail(userId=${#authentication.name})}">
	   			구매하기
	   			</a>
	   		</div>
	    </div>
	    
	</th:block>

    
	</main>

<th:block layout:fragment="myscripts">
	<script src="/js/cart/cartList.js"></script>
</th:block>

</html>