@charset "UTF-8";

hr {
	margin: 0;
}

#body-wrapper {
	min-height: 100%;
	position: relative;
}

#footer-logo{
	height: 20px;
}

#greetings{
	height: 370px;
	overflow: auto;
}

.buy-detail{
	cursor: pointer;
}

.image-td{
	width: 120px;
}

.image-div{
	float: left;
	position: relative;
}

.image{
	object-fit: cover; 
	height: 120px; 
	width: 120px;
}

.title{
	font-weight: bold;
}

.other{
	font-size: small;
}

.message{
	font-size: small;
	vertical-align: bottom;
}

.time{
	font-size: small;
	width: 4rem;
	text-align: right;
	vertical-align: bottom;
}

.detail-select{
    text-align: -webkit-right;
}

.detail-image-td{
	width: 60px;
}

.detail-image-div{
	float: left;
	position: relative;
}

.detail-image{
	object-fit: cover; 
	height: 60px; 
	width: 60px;
}
