@charset "UTF-8";
/* 푸터영역 */
/* footer 하단 고정 [S] */
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#top-logo {
	width:120pt;
}

#body-wrapper {
	min-height: 100%;
	position: relative;
}

#body-content {
	width: 75%;
	margin: 50px auto 0;
	padding-bottom: 200px; /* footer의 높이 */
}

footer {
	width: 100%;
	height: 3px; /* footer의 높이 */
	position: absolute;
	bottom: 0;
	left: 0;
}

.nav-link-login{
	color: black;
	margin: 0px 10px;
	font-weight: lighter;
	text-decoration-line: none;
	font-size: 12px;
}


.nav-link{
	color: black;
	margin: 0px 10px;
	font-weight: lighter
}

/*푸터 설명 줄바꿈*/
.basic {
	margin: 0px;
}

/*링크 이미지(깃허브, 아이티윌)*/
.github {
	width: 20px;
	height: auto;
}

/* 상단 하단 이동 버튼 */
.moveTopBtn {
	position: fixed;
	bottom: 7rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
	color: #fff;
}

.moveBottomBtn {
	position: fixed;
	bottom: 3rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
	color: #fff;
}

.topBtnImage {
	width: 85px;
	height: 85px;
		
}

.bottomBtnImage {
	width: 85px;
	height: 85px;
}


/*지현 스토어 리스트 css*/
.thumbnail-div-store {
	position: relative;
}

.thumbnail-soldout-store {
	 object-fit:cover; 
	 height: 250px; 
	 width:-webkit-fill-available; 
	 opacity: 50%
}

.thumbnail-soldout-store-label {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	font-size: 12pt;
}

.thumbnail-onsale-store {
	 object-fit:cover; 
	 height: 250px; 
	 width:-webkit-fill-available;
}

/*지현 입양 리스트 css*/
.thumbnail-div-buy {
	position: sticky; 
	text-align: center; 
	color: black;
}

.thumbnail-onSale-buy {
	object-fit:cover; 
	height: 250px; 
	width:-webkit-fill-available;
}

.thumbnail-onSale-buy-label {
	background: hotpink; 
	border: 1px solid black; 
	padding: 3px 15px 3px 15px; 
	position: absolute; 
	top: 5%; 
	right: 5%; 
	font-size: 10pt;
}

.thumbnail-onNego-buy {
	object-fit:cover; 
	height: 250px; 
	width:-webkit-fill-available;
}

.thumbnail-onNego-buy-label {
	background: mediumaquamarine; 
	border: 1px solid black; 
	padding: 3px 15px 3px 15px; 
	position: absolute; 
	top: 5%; 
	right: 5%; 
	font-size: 10pt;
}

.thumbnail-soldout-buy {
	object-fit:cover; 
	height:250px; 
	width:-webkit-fill-available; 
	opacity: 50%;
						
}

.thumbnail-soldout-buy-label {
	background: darkgray; 
	border: 1px solid black; 
	padding: 3px 15px 3px 15px; 
	position: absolute; 
	top: 5%; 
	right: 5%; 
	font-size: 10pt;
								
}

/* main page */

.mainH2 {
	margin-bottom: 0px;
	font-family: 'Pretendard-Regular';
}

a.mainMore { text-decoration: none; color: gray; }
a.mainMore:visited { color: gray; }
a.mainMore:hover { color: #3B7CFF; }
a.mainMore:active { color: #3B7CFF; }

.mainMore {
	font-family: 'Pretendard-Regular';
	margin-left: 15px;
	margin-bottom: 0px;
    height: 25px;
    padding-right: 0px;
    padding-left: 0px;
    width: 70px;
    align-self: self-end;
}

/* 페이징.. */
.pagination{
	--bs-pagination-hover-color: gray;
	--bs-pagination-focus-color: darkgray;
	--bs-pagination-focus-box-shadow: 0;
}

.page-link{
	color: gray;
}

.active>.page-link{
	border-color: gray;
	background-color: white;
	color: black;
}
