@charset "UTF-8";
/* 푸터영역 */
/* footer 하단 고정 [S] */
@font-face {
    font-family: 'AritaBuri';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Light.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'AritaBuriBold';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'ChosunNm';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/ChosunNm/ChosunNm.ttf') format("truetype");
    font-display: swap;
}

main, body {
	font-family: 'ChosunNm';
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#top-logo {
	width: 120pt;
}

#body-wrapper {
	min-height: 100%;
	position: relative;
}

#body-content {
	width: 75%;
	margin: 50px auto 0;
	padding-bottom: 200px; /* footer의 높이 */
}

footer {
	width: 100%;
	height: 3px; /* footer의 높이 */
	position: absolute;
	bottom: 0;
	left: 0;
}

.nav-link-login {
	color: black;
	margin: 0px 10px;
	font-weight: lighter;
	text-decoration-line: none;
	font-size: 12px;
}

.nav-link {
	color: black;
	margin: 0px 10px;
	font-weight: lighter;
	transition: color 0.3s;
}

.nav-link:hover {
	color: #006334;
}

/*푸터 설명 줄바꿈*/
.basic {
	margin: 0px;
}

/*링크 이미지(깃허브, 아이티윌)*/
.github {
	width: 20px;
	height: auto;
}

/* 상단 하단 이동 버튼 */
.moveTopBtn {
	position: fixed;
	bottom: 7rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
	color: #fff;
}

.moveBottomBtn {
	position: fixed;
	bottom: 3rem;
	right: 2rem;
	width: 4rem;
	height: 4rem;
	color: #fff;
}

.topBtnImage {
	width: 50px;
	height: 30px;
}

.bottomBtnImage {
	width: 50px;
	height: 30px;
}

/*지현 스토어 리스트 css*/
.thumbnail-div-store {
	position: relative;
}

.thumbnail-soldout-store {
	object-fit: cover;
	height: 300px;
	width: -webkit-fill-available;
	opacity: 50%
}

.thumbnail-soldout-store-label {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 12pt;
}

.thumbnail-onsale-store {
	object-fit: cover;
	height: 300px;
	width: -webkit-fill-available;
}

/*지현 입양 리스트 css*/
.thumbnail-div-buy {
	position: sticky;
	text-align: center;
	color: black;
}

.main-thumbnail-onSale-buy {
	object-fit: cover;
	height: 250px;
	width: -webkit-fill-available;
}

.thumbnail-onSale-buy {
	object-fit: cover;
	height: 300px;
	width: -webkit-fill-available;
}

.thumbnail-onSale-buy-label {
    padding: 8px 12px 8px 12px;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 10pt;
    font-weight: bold;
    background: rgba(255, 117, 222);
}

.main-thumbnail-onNego-buy {
	object-fit: cover;
	height: 250px;
	width: -webkit-fill-available;
}

.thumbnail-onNego-buy {
	object-fit: cover;
	height: 300px;
	width: -webkit-fill-available;
}

.thumbnail-onNego-buy-label {
    padding: 8px 12px 8px 12px;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 10pt;
    font-weight: bold;
    background: rgba(2, 187, 119);
}

.main-thumbnail-soldout-buy {
	object-fit: cover;
	height: 250px;
	width: -webkit-fill-available;
	opacity: 50%;
}

.thumbnail-soldout-buy {
	object-fit: cover;
	height: 300px;
	width: -webkit-fill-available;
	opacity: 50%;
}

.thumbnail-soldout-buy-label {
    padding: 8px 12px 8px 12px;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 10pt;
    font-weight: bold;
    background: darkgray;
}

/* main page */
.mainH2 {
	margin-bottom: 0px;
	margin-left: 12px;
	font-family: 'ChosunNm';
}

a.mainMore {
	text-decoration: none;
	color: gray;
	font-family: 'ChosunNm';
}

a.mainMore:visited {
	color: gray;
}

a.mainMore:hover {
	color: #006334;
}

a.mainMore:active {
	color: #006334;
}

.mainMore {
	font-family: 'Pretendard-Regular';
	margin-left: 15px;
	margin-bottom: 0px;
	height: 25px;
	padding-right: 0px;
	padding-left: 0px;
	width: 70px;
	align-self: self-end;
}

.container2 {
	width: 90%;
	margin: 10px auto;
	display: flex;
}

.containerList {
	flex: 1;
	width: 50%;
}

.mainPic {
	width: -webkit-fill-available;
}

.mainBannerS1 {
	flex: 1;
	width: 50%;
}

.communityTitle {
	  height: 20px;
	  width: 245px;
	  padding: 0;
	  overflow: hidden;
	  position: relative;
	  display: inline-block;
	  margin: 0 5px 0 5px;
	  text-align: left;
	  text-decoration: none;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  color: #000;
}

.red-text {
    color: red;
}

.carousel-inner { /* 이미지 슬라이드 크기 고정 */
     width: auto;
     height: 300px;
     margin-bottom:50px;
}

.carousel-item {
     /* width: auto; */
     height: inherit;
}

.carousel-item > a > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.carousel-item > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.carousel-indicators [data-bs-target] {
	background-color: #02BB77;
	width: 60px;
}

.carousel-indicators {
    bottom:-50px;
}

/* 카드 이미지 조정 */
.imgSize {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

/* 책갈피 버튼 조정 */
.planteriorButton {
	float: right;
	border: none;
	background-color: transparent;
}

/* 페이징.. */
.pagination { 
	-bs-pagination-hover-color: gray;
	-bs-pagination-focus-color: darkgray; 
	-bs-pagination-focus-box-shadow: 0;
}

.page-link {
	color: gray;
}

.active>.page-link {
	border-color: gray;
	background-color: white;
	color: black;
}