@charset "UTF-8";

/*플랜테리어 메인 페이지 css*/
/*상단 제목*/
.plants_title_section {
	margin-top: 42px;
	margin-bottom: 20px
}

p.plants_title {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.44;
	letter-spacing: -1.6px;
	color: #000
}

/*카테고리*/
.filterDivision {
	border: 1px dashed #eaeaea;
	margin: 8px 0 16px 0
}

.clicked {
	background-color: green;
	border-color: green;
	color:white;
}

/*.filterSecondBtn*/
button.filterBtn {
	position: relative
}

button#filter_reset_btn img {
	display: inline-block;
	width: 20px
}

div.plantDataCount {
	margin: 10px
}

span.pick {
	margin: 10px;
	color: #00b564;
	display: flex;
	font-size: 25px;
}

/* 카드 이미지 조정 */
.imgSize {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

/* 책갈피 버튼 조정 */
.planteriorButton {
	float: right;
	border: none;
	background-color: transparent;
}

/* p 태그 줄 정의 */
.planteriorButtonEle {
	width: 140px;
	display: block;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
}

planteriorButtonEleEnglishName {
	display: block;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
}

/* 마이페이지- 내가 쓴 글 전용*/
.planteriorButtonEleMyPost {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.imgButtonFill {
	border: none;
	background-color: transparent;
}

.imgButton {
	border: none;
	background-color: transparent;
}

.notBookmark {
	border: none;
	background-color: transparent;
}

.none {
	border: none;
	background-color: transparent;
}

/*상단 제목*/
.createTitle {
	margin-top: 42px;
	margin-bottom: 20px
}

.highlight {
	color: red;
	float: right;
}

.highlight-left {
	color: red;
	float: left;
}