<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<main layout:fragment="main">
<h1>관심 상품</h1>
<!-- 2. 삭제 버튼/판매 상태 출력 오른쪽 상단/품절, 판매 종료 시 하얗게 -->
	<div class="bg-transparent border-dark">
		<div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
			<div th:each="post: ${ posts }">
				<div class="col">
					<form id="postModifyForm">	
						<div id="postId" class="d-none" th:text="${ post.id }"></div>
						<a th:href="@{/post/details?id={id} (id=${post.id}) }"> 
						<!-- if문~~ -->
						<!-- 판매 종료 시 하얗
							<img class="rounded mb-1"
						style="width: 100%; height: 100%; opacity: 50%;"
						src="images/common/main.jpeg" /> 
						 -->
						<img class="rounded mb-1" style="width: 100%; height: 100%;"
							src="images/common/main.jpeg" />
						<!-- 판매 상태에 따라 하나찍 골라쓰 -->
						<span class="link-dark centered rounded"
							style="background: deeppink; border: 1px solid black; padding: 3px 15px 3px 15px; position: absolute; top: 5%; right: 5%; font-size: 10pt">
								판매중</span> <span class="link-dark centered rounded"
							style="background: mediumaquamarine; border: 1px solid black; padding: 3px 15px 3px 15px; position: absolute; top: 15%; right: 5%; font-size: 10pt">
								거래중</span> <span class="link-dark centered rounded"
							style="background: darkgray; border: 1px solid black; padding: 3px 15px 3px 15px; position: absolute; top: 25%; right: 5%; font-size: 10pt">
								판매 종료</span>
						
						</a>
						<!-- X버튼을 위한 행 설정 -->
						<div class="row">
							<div class="col-10 text-truncate">
								<a th:href="@{/post/details?id={id} (id=${post.id}) }"
									class="link-dark link-underline-opacity-0"> <span
									 th:text="${ post.title }" class="card-title"></span>
								</a>
							</div>
							<!-- X 버튼 -->
							<div id="btnDelete" class="col btn p-0" style="border: none; outline: none;">
								<img src="images/common/x-lg.svg" />
							</div>
							<p class="card-text">0원</p>
						</div>
					</form>
						<!-- X버튼을 위한 행 설정 -->
				</div>
			</div>
		</div>
	</div>

</main>
</html>