<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
	<main layout:fragment="main">
		<div class="container my-4">
			<div class="my-2 p-3 text-center">
				<h1 class="titleBolder">FAQ 상세 페이지</h1>
			</div>
		<div class="accordion my-2" id="accordionExample">
			<div class="accordion-item" th:each="faq, status : ${faqs}">
				<div class="mb-3">
					<h2 class="accordion-header" th:id="'heading' + ${status.index}">
						<button class="accordion-button" type="button"
							data-bs-toggle="collapse"
							th:data-bs-target="'#collapse' + ${status.index}"
							aria-expanded="true"
							th:aria-controls="'collapse' + ${status.index}"
							th:text="${faq.question}"></button>
					</h2>
					<div th:id="'collapse' + ${status.index}"
						class="accordion-collapse collapse"
						th:aria-labelledby="'heading' + ${status.index}"
						data-bs-parent="#accordionExample">
						<div class="accordion-body" th:text="${faq.answer}"></div>
					</div>
				</div>
			</div>
		</div>




	</div>
	</main>
</html>