<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">   
	<main layout:fragment="main">
		<div class="my-2 p-3 text-center">
			<h1 class="titleBolder">FAQ 상세 페이지</h1>
		</div>
		<div class="card">
			<div class="faq-item">
				<div class="card-header">
					<div class="faq-question">질문 1</div>
				</div>
				<div class="card-body">
					<div class="faq-answer">답변 1</div>
				</div>
			</div>
			<div class="faq-item">
					<div class="card-header">
						<div class="faq-question">질문 2</div>
					</div>
					<div class="card-body">
						<div class="faq-answer">답변 2</div>
					</div>
			</div>
			<div class="faq-item">
				<div class="card-header">
					<div class="faq-question">질문 3</div>
				</div>
				<div class="card-body">
					<div class="faq-answer">답변 3</div>
				</div>
			</div>
		</div>	
		<script src="/js/info/faq/faq_list.js"></script>    
	</main>    
</html>