<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/mngr_base_layout}">
    
	<main layout:fragment="main">
		<div>
			<div>
				<h2>내풀잎🍀등록</h2>
			</div>
			
			<form>
				<label>제목</label>
				<div>
					<input type="text" required />
				</div>
				
				<label>가격</label>
				<div>
					<input type="number" required />
				</div>
				<small>
					0원 입력 시 무료나눔
				</small>
				
				<label>대표 사진</label>
				<div>
					<input type="file" />
				</div>
				
				<label>상세 설명</label>
				<div>
					<textarea id="summernote"></textarea>
				</div>
				
				<label>거래 장소</label>
				<div>
					<input type="text" placeholder="장소 수정 불가/저장된 장소 뿌려주기" readonly />
				</div>
				
				<div>
					<button>삭제</button>
					<button>목록</button> <!-- 리스트로 이동 -->
					<button>수정 완료</button>
				</div>
			</form>
		</div>
	</main>
	
</html>