<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">

<main layout:fragment="main">
	<div>
		<h3 class="text-center mb-5">🌱 분양 수정</h3>
		<span class="d-none" id="selectedSido" th:text="${sell.sido}"></span>
		<span class="d-none" id="selectedGungu" th:text="${sell.gungu}"></span>
		
		<form id="sellModifyForm" class="container" enctype="multipart/form-data">
			<input class="d-none" name="sellId" id="sellId" th:value="${sell.sellId}"></input>
			<div class="input-group mb-2">
				<span class="input-group-text">제목</span> <input type="text"
					th:value="${sell.title}" name="title" id="title" class="form-control"
					placeholder="제목을 입력하세요." required>
			</div>
			<input class="form-control bg-transparent border-dark d-none"
				id="userId" name="userId" th:value="${sell.userId}" required />
			<div class="input-group mb-2">
				<span class="input-group-text">가격</span> <input class="form-control"
					th:value="${sell.price}" name="price" id="price" type="number" placeholder="0원 입력 시 무료나눔"
					required> <span class="input-group-text">원</span>
			</div>

			<div class="input-group mb-2">
				<label class="input-group-text">대표 사진</label> 
				<img name="" id="" style="height:10rem;" class="rounded" th:src="@{'data:image/png;base64,'+${image}}" />
			</div>
			<div class="input-group mb-2">
				<label class="input-group-text">사진 변경</label> 
				<input name="file" id="file" type="file" class="form-control">
			</div>
			
			<div class="form-floating mb-2">
				<textarea th:text="${sell.content}" id="summernote" name="content" class="form-control" required></textarea>
			</div>

			<div class="input-group mb-1">
				<span class="input-group-text">거래 장소</span> 
					<select onclick="selectbox();" th:value="${sell.sido}" name="sido" id="sido" class="form-select"></select>
					<select th:value="${sell.gungu}" name="gungu" id="gungu" class="form-select"></select> 
					<input class="form-control bg-transparent border-tertiary" id="loc"
					th:value="${sell.loc}" name="loc" placeholder="상세 주소 및 장소명을 입력해 주세요." required></input>
			</div>
			<nav class="text-end">
				<small>예) 강남역 1번 출구, 아이티윌 앞</small>
			</nav>
			<!-- <div class="text-center mt-2" th:if="${sell.userId} == ${#authentication.name}"> -->
            <div class="text-center mt-2">
           		<a class="btn btn-secondary" id="btnDelete">삭제</a>
                <a class="btn btn-outline-dark" id="btnUpdate">수정 등록</a>
            </div>
		</form>
	</div>
</main>
<th:block layout:fragment="myscripts">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <script src="/js/sellbuy/sellModify.js"></script>
   	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="/js/info/notice/notice-summernote.js"></script>
</th:block>
</html>