<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<main layout:fragment="main">
	<h2>내풀잎 입양 상세보기</h2>
	<div class="container">
		<div>
			<input type="hidden" id="sellId" name="sellId"
				th:value="${ sell.sellId }" /> <input type="hidden" id="userId"
				name="userId" th:value="${ #authentication.name }" />
		</div>
		<table class="table table-borderless">
			<tbody>
				<tr th:switch="${ sell.sold }">
					<td rowspan="2" width="300"><img class="rounded" style="object-fit:cover; height:300px; width:300px;" 
						th:src="@{'data:image/png;base64,'+${image}}" /></td>
					<td style="vertical-align: middle"><small> <span
							th:text="${ sell.sido }" class=""></span> <span
							th:text="${ sell.gungu }" class=""></span> <span
							th:text="${ sell.loc }" class=""></span>
					</small>
						<h3 th:text="${ sell.title }" class=""></h3>
						<div
							th:text="|${#numbers.formatInteger(sell.price, 0, 'COMMA')}원|"
							class=""></div> <th:block th:case="1">
							<i>분양중</i>
						</th:block> <th:block th:case="2">
							<i>거래중</i>
						</th:block> <th:block th:case="3">
							<i>분양 종료</i>
						</th:block></td>
				</tr>
				<tr>
					<td style="vertical-align: bottom">
						<div class="d-grid gap-2 d-md-flex">
							<th:block th:switch="${#authentication.name == sell.userId}">
								<!-- true / 글 작성자이면 -->
								<th:block th:case="true">
									<a class="btn btn-outline-dark"
										th:href="@{ /sell/modify?sellId={sellId} (sellId = ${sell.sellId})}">수정하기</a>
									<a class="btn btn-outline-dark" th:href="@{ /chat }">대화내역</a>
								</th:block>
								
								<!-- false / 글 작성자가 아니면 -->
								<th:block th:case="false">
										<!-- wish=false / buywish에 내 아이디가 없음 >> 관심 상품 추가 -->
										<th:block th:unless="${wish}">
											<button class="btn btn-outline-dark" id="addWishBtn"
													name="addWishBtn">관심 상품에 추가</button>
										</th:block>
										
										<!-- wish=true / buywish에 내 아이디가 있음 >> 관심 상품 삭제 -->
										<th:block th:if="${wish}">
											<button class="btn btn-outline-dark" id="deleteWishBtn"
													name="deleteWishBtn" th:data-id="${sell.sellId}">관심
													상품 삭제</button>
										</th:block>
									<!-- 항상 보일 것 -->
									<button id="" class="btn btn-outline-dark" type="button">판매자와
										대화하기</button>
								</th:block>
							</th:block>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="m-2" th:utext="${ sell.content }"></div>
	</div>
</main>
<th:block layout:fragment="myscripts">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
	<script src="/js/sellbuy/buyDetail.js"></script>
</th:block>
</html>