<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<main layout:fragment="main">
	<h3 class="text-center mb-5">내 풀잎 입양하기</h3>
	<!-- 1. 품절 시 하얗게 / 문구 가운데 -->
	<div class="container bg-transparent border-dark">
		<div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
			<div class="col" th:each="sell: ${ sells }">
				<div class="thumbnail-div-buy container p-0">
					<a th:switch="${sell.sold}"
						th:href="@{/buy/detail(userId=${#authentication.name}, sellId=${sell.sellId}) }">
						<th:block th:case="1">
							<img class="thumbnail-onSale-buy rounded mb-1" 
								th:src="@{'data:image/png;base64,'+${images.get(sell.sellId)}}" />
							<span class="thumbnail-onSale-buy-label link-dark centered rounded">
								분양중</span>
						</th:block> <th:block th:case="2">
							<img class="thumbnail-onNego-buy rounded mb-1" 
								th:src="@{'data:image/png;base64,'+${images.get(sell.sellId)}}" />
							<span class="thumbnail-onNego-buy-label link-dark centered rounded">
								거래중</span>
						</th:block> <th:block th:case="3">
							<img class="thumbnail-soldout-buy rounded mb-1"
								th:src="@{'data:image/png;base64,'+${images.get(sell.sellId)}}" />
							<span class="thumbnail-soldout-buy-label link-dark centered rounded">
								분양 종료</span>
						</th:block> 
					</a>
				</div>
				<div class="text-truncate">
					<a
						th:href="@{/buy/detail(userId=${#authentication.name}, sellId=${sell.sellId})}"
						class="link-dark link-underline-opacity-0"> <span
						th:text="${ sell.title }" class="card-title text-truncate"></span>
					</a>
					<th:block th:switch="${sell.price == 0}">
						<div th:case=true><i>무료 나눔</i></div>
						<div th:case=false th:text="|${#numbers.formatInteger(sell.price, 0, 'COMMA')}원|" class=""></div>
					</th:block>
				</div>
			</div>
		</div>
	</div>
	
	<!-- 페이징~ -->
	<th:block th:if="${totalPage>=1}">
		<div class="pt-5">
			<nav id="paging-block">
				<ul class="pagination justify-content-md-center">
					<li class="page-item">
						<a class="page-link" th:href="@{/buy/list(page=${0})}">
							&laquo;
						</a>
					</li>
					<li th:each="page : ${#numbers.sequence(startPage, endPage)}" class="paging-item page-item"
						th:classappend="${page == nowPage} ? 'active' : ''">
						<a class="page-link link-dark" th:href="@{/buy/list(page=${page -1})}" th:text="${page}" th:value="${page}"></a>
					</li>
					<li class="page-item">
						<a class="page-link" th:href="@{/buy/list(page=${totalPage})}"> 
							&raquo;
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</th:block>
</main>
<th:block layout:fragment="myscripts">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
</th:block>
</html>