<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/base_layout}">
<style>
</style>
<main layout:fragment="main">
	<div>
		<div>
			<h2>마이 페이지 > 구매 내역 > 구매 내역 상세</h2>
		</div>

		<div>

			<input class="d-none" id="orderId" th:value="${order.orderId}" />

			<table class="table table-hover">
				<thead>
					<tr>
						<th colspan="2">상품 정보</th>
						<th class="text-center">수량</th>
						<th class="text-center">가격</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="detail: ${ details }">
						<td class="col-1 text-center">
							<img class="rounded" style="object-fit:cover; height:100px; width:100px;"
									th:src="@{'data:image/png;base64,'+${images.get(detail.itemId)}}" /></td>
						<td style="vertical-align: middle;"
							class="col-5 text-center textvcenter"><a
							th:href="@{/store/detail(userId=${#authentication.name},itemId=${items.get(detail.itemId).itemId})}"
							class="link-dark link-underline-opacity-0"> <span
								th:text="${ items.get(detail.itemId).itemName }"></span>
						</a></td>
						<td style="vertical-align: middle;" class="col-3 text-center"
							th:text="${ detail.cnt }"></td>
						<td style="vertical-align: middle;" class="col-3 text-center"
							th:text="|${#numbers.formatInteger(detail.price, 0, 'COMMA')}원|"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- <form id="updateReasonForm"> -->
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>주문 정보</th>
							<th>결제 정보</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="col-6">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<th class="col-4">주문 일자</th>
											<td class="col-8" th:text="${ #temporals.format(order.orderDate, 'yy/MM/dd HH:mm:ss')}"></td>
										</tr>
										<tr>
											<th class="col-4">주문 상태</th>
											<td id="orderStatus" class="col-8" th:text="${ order.status }"></td>
										</tr>
										<th:block th:if="${order.status} == '취소 처리중' or ${order.status} == '취소 완료'">
											<tr>
												<th class="col-4">취소 사유</th>
												<td id="orderStatus" class="col-8" th:text="${ order.reason }"></td>
											</tr>
										</th:block>
									</tbody>
								</table>
								<div id="cancel" th:switch="${ order.status }"
									class="m-3 text-center">
									<th:block th:case="'상품 준비중'">
										<small>상품 준비중, 배송중, 배송 완료 시 취소 불가</small>
									</th:block>
									<th:block th:case="'배송'">
										<small>상품 준비중, 배송중, 배송 완료 시 취소 불가</small>
									</th:block>
									<th:block th:case="'배송 완료'">
										<small>상품 준비중, 배송중, 배송 완료 시 취소 불가</small>
									</th:block>
									<th:block th:case="'주문 완료'">
										<button id="btnCancel" class="btn btn-outline-dark">주문 취소하기</button>
									</th:block>
									<th:block th:case="'입금 대기'">
										<button id="btnCancel" class="btn btn-outline-dark">주문 취소하기</button>
									</th:block>
									<th:block th:case="'입금 확인'">
										<button id="btnCancel" class="btn btn-outline-dark">주문 취소하기</button>
									</th:block>
								</div>
							</td>
							<td class="col-6">
								<table class="table table-borderless">
									<tbody>
										<tr>
											<th class="col-4">상품 합계</th>
											<td class="col-8" id="totalDetail"
												th:text="|${#numbers.formatInteger(prices.get('totalDetail'), 0, 'COMMA')}원|"></td>
										</tr>
										<tr>
											<th class="col-4">배송비</th>
											<td class="col-8" id="deliveryPrice"
												th:text="|${#numbers.formatInteger(prices.get('deliveryPrice'), 0, 'COMMA')}원|"></td>
										</tr>
										<tr>
											<th class="col-4">결제 금액</th>
											<td class="col-8" id="totalPrice"
												th:text="|${#numbers.formatInteger(order.price, 0, 'COMMA')}원|"></td>
										</tr>
										<tr>
											<th class="col-4">주문자</th>
											<td id="userId" class="col-8" th:text="${ order.userId }"></td>
										</tr>
										<tr th:switch="${ order.payment }">
											<th class="col-4">결제 방법</th>
											<th:block th:case="1">
												<td class="col-8">신용/체크카드</td>
											</th:block>
											<th:block th:case="2">
												<td class="col-8">무통장 입금</td>
											</th:block>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		<!-- </form> -->
		<div>
			<table class="table">
				<thead>
					<tr>
						<th colspan="2">배송지 정보</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<table class="table table-borderless">				
								<tr>
									<th class="col-4">이름</th>
									<td class="col-8" th:text="${ order.name }"></td>
								</tr>
								<tr>
									<th>우편번호</th>
									<td th:text="${ order.zipcode }"></td>
								</tr>
								<tr>
									<th>주소</th>
									<td><span th:text="${ order.addr }"></span> <span
										th:text="${ order.addrdetail }"></span></td>
								</tr>
								<tr>
									<th>연락처</th>
									<td th:text="${ order.tel }"></td>
								</tr>
								<tr>
									<th>배송 시 요청사항</th>
									<td th:text="${ order.req }"></td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
<th:block layout:fragment="myscripts">
	<script src="/js/store/mypageStoreDetail.js"></script>
</th:block>
</html>