<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<main layout:fragment="main">
		<div>
			<div>
				<h2>마이 페이지 > 구매 내역 > 구매 내역 상세</h2>
			</div>
			
			<div>
				<div>
					<h3>주문 상품 정보</h3>
				</div>
				
				<table>
					<thead>
						<tr>
							<th>상품 이미지</th>
							<th>상품 정보</th>
							<th>수량</th>
							<th>가격</th>
							<th>배송비</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<hr/>
			
			
			<div>
				<div>
					<h3>주문 정보</h3>
				</div>
				
				<div>
					<span>주문 일자</span>
					<!-- span 주문 일자 -->
				</div>
				
				<div>
					<span>주문 상태</span>
					<!-- span 주문 상태 -->
				</div>
				
				<div>
					<span>배송 정보</span>
					<!-- span 배송 정보 CJ 대한통운 (송장~) -->
				</div>
				
				<button>주문 취소하기</button>
			</div>
			
			<hr/>
			
			<div>
				<div>
					<h3>결제 정보</h3>
				</div>
				
				<div>
					<span>상품 합계</span>
					<!-- span -->
				</div>
				
				<div>
					<span>배송비</span>
					<!-- span -->
				</div>
				
				<div>
					<span>결제 금액</span>
					<!-- span -->
				</div>
				
				<div>
					<span>주문자</span>
					<!--  -->
				</div>
				
				<div>
					<span>결제 방법</span>
					<!--  -->
				</div>
			</div>
			
			<hr/>
			
			<div>
				<div>
					<h3>배송지 정보</h3>
				</div>
				
				<div>
					<span>이름</span>
					<!--  -->
				</div>
				
				<div>
					<span>우편번호</span>
					<!--  -->
				</div>
				
				<div>
					<span>주소</span>
					<!-- 걍 주소 -->
					<!-- 상세주소 -->
				</div>
				
				<div>
					<span>연락처</span>
					<!--  -->
				</div>
				
				<div>
					<span>배송 시 요청 사항</span>
					<!--  -->
				</div>
			</div>
		</div>
	</main>
</html>