<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
<main layout:fragment="main">
<h1>구매 내역</h1>
<div>
	<table class="table table-hover ">
		<thead>
			<tr>
				<th class="text-center">주문일자</th>
				<th class="text-center">상품</th>
				<th class="text-center">가격</th>
				<th class="text-center">상태</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="order: ${ totalOrders }" class="border-dark">
				<td class="col-3 text-center"
					th:text="${ #temporals.format(order.orderDate, 'yy/MM/dd HH:mm:ss')}"></td>
				<td class="col-3 text-center"><a
					th:href="@{/mypage/store/orderDetail(orderId=${ order.orderId })}"
					th:text="${ order.itemName }"
					class="link-dark link-underline-opacity-0"></a></td>
				<td class="col-3 text-center" th:text="|${#numbers.formatInteger(order.price, 0, 'COMMA')}원|"></td>
				<td class="col-3 text-center" th:text="${ order.status }"></td>

			</tr>
		</tbody>
	</table>
</div>
</main>
</html>