<!DOCTYPE html> <!-- 수빈 -->
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/base_layout}">
    
	<main layout:fragment="main">
	<div class="py-4 text-center">
    	<h3 class="text-center mb-5">관심 상품</h3>
    </div>
    <!-- 1. 품절 시 하얗게 / 문구 가운데 -->
	<div class="container border-dark">
		<div class="row row-cols-1 row-cols-md-4 g-4 mb-2">
			<div class="col" th:each="store: ${wishStore}">
				
				<!-- sold값으로 switch문 -->
				<div th:switch="${store.sold}" class="thumbnail-div-store container p-0">
				<a th:href="@{/store/detail(userId=${#authentication.name},itemId=${store.itemId})}"> 
					<!-- 1, 품절일 경우 -->
					<th:block th:case="1">
						<img class="thumbnail-soldout-store rounded mb-1"
							th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
						<span class="thumbnail-soldout-store-label link-dark centered">
							<i>품절</i>
						</span>
					</th:block>
					
					<!-- 0, 판매중일 경우 -->
					<th:block th:case="0">
						<img class="thumbnail-onsale-store rounded mb-1"
							th:src="@{'data:image/png;base64,'+${images.get(store.itemId)}}" />
					</th:block>
				</a>
			</div> <!-- 사진 div end -->
				
				<div class="text-truncate">
					<a th:href="@{/store/detail?itemId={itemId} (itemId=${store.itemId})}"
						class="link-dark link-underline-opacity-0"> 
						<span th:text="${store.itemName}" class="card-title text-truncate"></span>
					</a>
					<p class="card-text" th:text="|${#numbers.formatInteger(store.price, 0, 'COMMA')}원|"></p>
				</div> <!-- 이름 가격 div end -->
				
			</div>
		</div>
	</div>
    
	</main>
	
</html>