<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mngr_base_layout}">

<main layout:fragment="mngrHome">

	<div>
		<h3>플랜테리어 관리자 북마크</h3>
		<!-- 8개로 한정짓는 것 만들기-->
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<a th:href="@{/planterior}"><button class="btn btn-outline-dark me-md-2">북마크하러 가기</button></a>
			<button class="btn btn-secondary delete-button">삭제</button>
		</div>

		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col"><input type="checkbox" class="all-checkbox"/></th>
					<th scope="col">아이디</th>
					<th scope="col">식물이름(한글)</th>
					<th scope="col">식물이름(영문)</th>
					<th scope="col">작성자</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="list: ${cardList}">
					<td><input type="checkbox" id="row-checkbox"></td>
					<td th:text="${list.planteriorId}" id="planteriorId"></td>
					<td th:text="${list.plantName}"></td>
					<td th:text="${list.plantNameEnglish}"></td>
					<td th:text="${list.userId}"></td>
				</tr>
			</tbody>
		</table>
</main>
<th:block layout:fragment="myscripts">
	<script src="/js/planterior/mngr.js"></script>
</th:block>
</html>